﻿// |
// | BASE SASS
// | Global variables and mixins For Demo Theme
// | 2015-16; Znode, Inc.
// | 

// Font Variable.
$base-font-family: Roboto-Regular, Arial, sans-serif;
$base-font-family-bold: Roboto-Medium, Arial, sans-serif;
$base-font-size:13px;
$base-font-family-secondary:"Shadows Into Light",cursive;

$base-font-normal: 400;
$base-font-bold:   700;
$base-font-light:  300;

// Color Variable.
$base-color-primary:#65829d;

$text-fgcolor-default:#777777;
$text-fgcolor-heading:#313131;
$base-bgcolor-button-primary:#65829d;
$base-bgcolor-button-secondary:rgba(0,0,0,0.6);
$base-fgcolor-input:#999999;

// General Variable.
$required-star:#cc0000;
$error-msg-fgcolor:#cc0000;
$success-msg-fgcolor:#3c763d;
$base-color-white:#ffffff;
$base-color-black:#000000;
$border-bgcolor-default:#dfdfdf;
$boder-bgcolor-primary:#ccc;
$checkbox-radio-color:#484747;
$prooduct-widget-title:#7a7d82;
$widget-price-color:#0e2f40;
$widget-hover-cart:#302e2a;
$checkbox-radio-label:#777777;
$anchor-tag-fgcolor:#65829d;
$anchor-tag-fgcolor-hover:#65829d;
$top-link-container-text: #c4d0dc;
$nav-bgcolor:#ffffff;
$nav-bgcolor-hover:#ffffff;
$footer-bgcolor:#1c2023;
$news-letter-bgcolor:#1c2023;
$footer-fgtext-color:#90969a;
$footer-anchor-tag:#90969a;
$footer-anchor-tag-hover:#90969a;
$footer-title:#ffffff;
$title-color:#21293c;
$breadcrumbs-color:#000000;
$header-anchor-tag:#141a1f;
$header-anchor-tag-hover:#141a1f;
$header-nav-anchor-tag:#777;
$header-nav-anchor-tag-hover:#fff;
$base-heading-font-primary:30px;
$base-heading-font-secondary:27px;
$alert-msg-danger:#d8929c;
$alert-msg-success:#5cb85c;
$alert-msg-info:#79cff7;
$background-color:#f5f5f5;
$border-color:#ddd;

// Znode Icon Variable.
$znode-icon-font:'znode-web-store';

$zf-order-view:"\e905";
$zf-arrow-left:"\e900";
$zf-delete:"\e901";
$zf-edit:"\e902";
$zf-manage:"\e903";
$zf-view:"\e904";
$zf-fedex:"\e612";
$zf-shere:"\e613";
$zf-ups:"\e614";
$zf-grid-view:"\e60b";
$zf-list-view:"\e60c";
$zf-text-view:"\e60d";
$zf-cart:"\e91d";
$zf-checkout:"\e601";
$zf-close:"\e602";
$zf-compare:"\e603";
$zf-home:"\e604";
$zf-login:"\e605";
$zf-quick-order:"\e606";
$zf-search:"\e607";
$zf-share:"\e608";
$zf-shipping:"\e609";
$zf-small-arrow:"\e60a";
$zf-login-user:"\f007";
$zf-twitter:"\f081";
$zf-facebook:"\f082";
$zf-arrow-circle-right:"\f0a9";
$zf-google-plus-square:"\f0d4";
$zf-caret-right:"\f0da";
$zf-youtube-square:"\f166";
$zf-visa-payment:"\f1f0";
$zf-mastercard-payment:"\f1f1";
$zf-amex-payment:"\f1f3";
$zf-paypal-payment:"\f1f4";
$zf-envelope-o:"\f003";
$zf-heart:"\f004";
$zf-lock:"\f023";
$zf-check-box-check:"\f046";
$zf-backward:"\f04a";
$zf-forward:"\f04e";
$zf-calendar:"\f073";
$zf-random:"\f074";
$zf-check-box:"\f096";
$zf-pinterest-square:"\f0d3";
$zf-first:"\f0d9";
$zf-last:"\f0db";
$zf-envelope:"\f0e0";
$zf-arrow-right-small:"\f105";
$zf-arrow-down-small:"\f107";
$zf-radio-button:"\f10c";
$zf-radio-button-check:"\f192";
$zf-printer:"\e60f";
$zf-key:"\e610";
$zf-key-2:"\e611";
$zf-checkbox-checked:"\e60e";
$zf-google:"\e615";
$zf-facebook-simple:"\e616";
$zf-pdf-file:"\e906";
$zf-word-file:"\e907";
$zf-excel-file:"\e908";
$zf-down: "\e909";
$zf-up:"\e90a";
$zf-refresh: "\f021";
$zf-close-circle:"\f057";
$zf-orders:"\e90b";
$zf-refund-order:"\e90c";
$zf-star-empty:"\e90d";
$zf-star-full:"\e90e";
$zf-star-half:"\e90f";
$zf-view-details:"\e910";
$zf-active:"\e911";
$zf-inactive:"\e912";
$zf-swatch-box:"\e921";

//  Norscot Variables
$zf-md-tag:"\e920";
$zf-md-arrow-down:"\e913";
$zf-md-arrow-up:"\e914";
$zf-md-arrow-left:"\e915";
$zf-md-arrow-right:"\e916";
$zf-md-compare:"\e917";
$zf-md-edit:"\e918";
$zf-md-grid-view:"\e919";
$zf-md-list-view:"\e91a";
$zf-md-minus:"\e91b";
$zf-md-plus:"\e91c";
$zf-md-shopping-bag:"\e91d";
$zf-md-shopping-cart:"\e91e";
$zf-md-wish-list:"\e91f";

// Mixins.
@mixin -webkit-text-size-adjust{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;  
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@mixin btn-text{
  display:inline-block;min-width:70px;
  text-align:center;
  font:{
    family:$base-font-family;
  }
  border:none;
  color:$base-color-white;
  text-transform: capitalize;
}
@mixin input-field{
  color:$base-fgcolor-input; 
  padding:5px;
  font:{
    family: $base-font-family;
    size:$base-font-size;   
  }
  width:100%; 
  border:1px solid $border-bgcolor-default; 
  box-shadow:none;  
  outline: medium none;  
}
@mixin icon($content) {
	font-family: $znode-icon-font;
	content: $content;    
}

// Responsive Screen Sizes.
$base-screen-x-small: 320px;
$base-screen-xl-small: 480px;
$base-screen-small: 768px;
$base-screen-medium: 992px;
$base-screen-desktop: 1200px;
$base-screen-large: 1300px;
$base-screen-x-large: 1500px;

@mixin screensize($size) {
    @if $size == x-small {
        @media all and (min-width: $base-screen-x-small) { @content; }
    }
    @if $size == xl-small {
        @media all and (min-width: $base-screen-xl-small) { @content; }
    }
    @if $size == small {
        @media all and (min-width: $base-screen-small) { @content; }
    }     
    @if $size == medium {
        @media all and (min-width: $base-screen-medium) { @content; }
    }
    @else if $size == desktop {
        @media all and (min-width: $base-screen-desktop) { @content; }
    }
    @else if $size == large {
        @media all and (min-width: $base-screen-large) { @content; }
    }
    @else if $size == x-large {
        @media all and (min-width: $base-screen-x-large) { @content; }
    }
}