﻿@import "_base.scss";

#layout-category .category-landing-container .products-modes-setting h1{display:none;}
.category-landing-container{padding-right:0;
    &.search-page .search-result-div{display:block;font-size:$base-font-size + 7;margin:0 0 15px;}
    .search-result-div{display:block;padding-top:12px;border-top:5px solid $base-color-primary;}
}
.search-result{font-size:20px;float:left;
    b{color:$base-color-primary;}
}
// Media Query.
@include screensize(x-small) {    
    .category-recent-view-list{padding:0 5px;
        .product-list-widget{padding:0;}
    }
    .category-landing-container{padding-right:5px;padding-left:5px;order:1;-webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;width:100%;}    
}
@include screensize(small) {        
    .category-landing-container{padding-right:0;padding-left:12px;order:2;-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;width:74.5%;}
    .narrow-results-pane{display:block;}
    .category-recent-view-list{padding:0;}
}
