﻿@import "_base.scss";

.widget-title{font-size:$base-font-size + 3;line-height:42px;color:$text-fgcolor-heading;text-transform:uppercase;text-align:left;font-family:$base-font-family-bold;position:relative;overflow:hidden;background:none;margin:0 5px;
    .content{background-color:$base-color-white;padding-right:20px;display:inline;z-index:2;position:relative;}
    .title-line{position:absolute;height:1px;background-color:#dde0e2;width:100%;top:50%;left:0;right:0;}
}
.md-featured-products{margin-top:30px;}
.bottom-container{padding:20px 0 80px;
    .md-just-arrived{margin-top:30px;
        .product-item .view-item{margin:15px 10px;
            &:hover{
                .product-img{box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.2);}
                .product-details .add-to-actions .add-to-cart{visibility:visible;opacity:1;}
            }
            .product-img{border:none;
                .btn-quick-view{top:0;}  
            }
            .product-details .add-to-actions{
                .add-to-wishlist,.add-to-compare,.add-to-cart span{display:none;}
                .add-to-cart{display:none;visibility:hidden;opacity:0;position:absolute;top:-47px;left:5px;background-color:transparent;border-color:$border-bgcolor-default;color:$widget-hover-cart;padding:0 7px;line-height:31px;}
            }
        }
    }
    .md-brand-slider{margin-top:30px;
        .AdvertisementBanner{padding:0 80px;
            .owl-wrapper-outer .owl-wrapper .owl-item img{max-width:166px;}
            .owl-controls .owl-buttons{
                .owl-prev{left:0;color:#c2c2c2;}
                .owl-next{right:0;color:#c2c2c2;}
            }
        }
    }
}

//  Meadia Query Starts Here
@include screensize(x-small) {
    .md-home-banner{
        .banner-block{margin-bottom:20px;
            .banner-2{margin-bottom:20px;}
            .banner-1,.banner-2,.banner-3,.banner-4{overflow:hidden;
                img{width:100%;max-width:100%;display:block;height:auto;}
            }
        }
        .page-title{display:none;}
    }
    .md-category-banner{background-color:$base-color-primary;padding:30px 0 50px;
        .widget-title{text-align:center;
            .content{padding:0 20px;color:$base-color-white;background-color:$base-color-primary;}
            .title-line{background-color:#728ea9}
        }
        .banner-widget{margin-top:15px;
            .AdvertisementBanner .owl-controls .owl-buttons{display:none;
                .owl-prev,.owl-next{color:$base-color-white;}
            }
            .item{padding:0 15px;
                img{width:100%;}
            }
        }
    }
    .AdvertisementBanner{
        .owl-wrapper-outer .owl-wrapper .owl-item{
            img{height:auto;}
            .carousel-caption{padding:0;
                &.Left{left:45px;}
                div{color:$text-fgcolor-default;font-size:$base-font-size - 2;text-transform:uppercase;
                    h2{font-size:$base-font-size + 7;font-family:$base-font-family-bold;line-height:25px;color:$base-color-white;}
                }
            }
        }
        .owl-controls .owl-buttons{color:$base-color-primary;display:none;
            .owl-prev{position:absolute;top: calc(50% - 10px);background:none;border-radius:0;font-size:$base-font-size + 4;padding:0;margin:0;left:0;opacity:1;}
            .owl-next{position:absolute;top: calc(50% - 10px);background:none;border-radius:0;font-size:$base-font-size + 4;padding:0;margin:0;right:0;opacity:1;}
        }
    }
}

@include screensize(small) {
    .md-home-banner{
        .banner-block{margin-bottom:0;
            .banner-1{max-width:575px;max-height:526px;}
            .banner-2,.banner-3{max-width:283px;max-height:258px;}
            .banner-4{max-width:283px;max-height:526px;}
            .banner-2{margin-bottom:10px;}
        }
    }
    .md-category-banner .banner-widget .AdvertisementBanner .owl-controls .owl-buttons{display:block;}
    .AdvertisementBanner .owl-controls .owl-buttons{display:block;
        .owl-prev{left:-5px;}
        .owl-next{right:-5px;}
    }
}

@include screensize(medium) {
    .AdvertisementBanner .owl-controls .owl-buttons{
        .owl-prev{left:-10px;}
        .owl-next{right:-10px;}
    }
}

@include screensize(desktop) {
    .AdvertisementBanner .owl-controls .owl-buttons{
        .owl-prev{left:-15px;}
        .owl-next{right:-15px;}
    }
}