﻿@import "_base.scss";

.account-dashboard{border-top:4px solid $base-color-primary;padding-top:15px;min-height:450px;
    .tabs-left{border:0;
        li{float:none;margin-bottom:2px;margin-right:-1px;
           a{border-radius:4px 0 0 4px;display:block;margin-right:0;padding:8px 6px;
             &:hover i{color:$base-color-white;}
           }            
           i{color:$base-color-primary;padding-left:5px;font-size:11px;vertical-align:baseline;}
        }
        
    }
    nav > ul > li > a.selected,nav > ul > li > a:hover{background-color:$base-color-primary !important;color:$base-color-white !important;
        i{color:$base-color-white !important;}
    }
    .shopping-cart{padding:0;
        .table-responsive{margin:0;}
        .cart-summary{border:1px solid $border-bgcolor-default;
            .receipt-total{border-top:1px solid;
                h2{font-size:$base-font-size + 8;color:$base-color-primary;}
            }
            .aside-panel{border-bottom:1px solid $border-bgcolor-default;padding:5px 0;}
        }
    }
    .right-container{padding-right:0;
        .edit-address-form{margin-right:10px;}
        .address-bar{padding:10px;border:1px solid $border-color;background-color:$background-color;margin-right:10px;}
        .all-address{padding:10px;border:1px solid $border-color;background-color:$background-color;}
        .address-billing{padding:10px;border:1px solid $border-color;background-color:$background-color;float:right;}
        .receipt-info{line-height:1.35;}
    }
    .section-header{font-size:$base-font-size + 5;font-family:$base-font-family-bold;border-bottom:1px solid;padding-bottom:8px;}    

    .wishlist-container table{
        tr{border:0; border-bottom:1px solid $border-bgcolor-default;
           td{vertical-align:middle;padding:5px;}
           td.wishlist-item-tocart{min-width:130px;                
                .btn-card{margin-left:0;width:100% !important;                
                    i{color:$base-color-white !important;}
                }
           }           
        }
        .wishlist-item-detail a{display:block;font-size:$base-font-size;line-height:26px;overflow:hidden;width:100%;}
        .wishlist-item-image{padding:0 5px 0 0;
            img{max-height:60px;}
        } 
    } 

    .address-book{
        .address-form{padding-top:12px;}
        .delete-address{margin-right:4px;}
        .address-list form{display:inline-block;}
        h5,h3{font-size:$base-font-size + 1;font-family:$base-font-family-bold;color:$base-color-primary;border-bottom:1px solid;padding-bottom:6px;}
        .address-title{color:#626262;font-family:$base-font-family-bold;}
        .edit-address-form .form-group,.change-password .form-group{float:left; width:100%; margin-bottom:5px;}        
        .address-list-primary .address-change i.zf-delete{display:none;}  
        .action-links{margin-bottom:10px;}  
    }
    .address-change{color:$base-color-primary;        
        i{padding:1px 1px 1px 4px;border:1px solid $base-color-primary;border-radius:4px;font-size:$base-font-size + 5;margin-left:5px;}        
        button{background:transparent;border:none;padding:0;
            &:hover i{color:#429cff;}
        }
    }
    .dashboard-addresses{
        h5{color:#626262;font-family:$base-font-family-bold;}        
        .address-change i.zf-delete{display:none;}
    } 
    .address-block p{line-height:1.35;}     
    .action-links{            
            button{background:transparent;border:none;color:$base-color-primary;padding:0;}       
            .border-left{border-left:1px solid $border-bgcolor-default;padding-left:6px;margin-left:2px;}        
    }
      
    .edit-profile .form-group{float:left; width:100%;margin-bottom:5px;}
    .order-receipt{
        h3{font-size:$base-font-size + 1;font-family:$base-font-family-bold;border-bottom:1px solid;padding-bottom:6px;}
        .receipt-total{border-top:1px solid;}
        .receipt-item-list{
            table{border-left:1px solid $border-bgcolor-default;border-right:1px solid $border-bgcolor-default;
                .shipment-address{background-color:$base-color-white;background-color:#f9f9f9;
                        td{padding:5px;}
                }
                .table-heading th{padding:5px;}    
                .receipt-column-action{border-right:1px solid $border-bgcolor-default;}            
            }
        }
        .table-responsive{margin-bottom:0;
            .table tbody tr th{padding:5px;}
        }
    }
    .review-history ul{margin:0; padding:0;
        li{list-style:none; padding:5px 0;}
        .review-item-detail{margin:10px 0 5px 0;display:inline-block;width:100%;
            .review-item-title{font-size:$base-font-size + 3;font-family:$base-font-family-bold;}
            h5{font-family:$base-font-family-bold;}
        }
    }    

    .template-quick-order{
        .quick-order{left:-198px;top:32px; width:305px;}
    }  
    .credit-card-content {
        .credit-card-block {margin:0 0 15px;}
        .card-type {margin:4px 0;
            img {display:inline-block; vertical-align:top; padding-right:10px;} 
            i {padding:1px 1px 1px 4px;border:1px solid $base-color-primary;border-radius:4px;font-size:$base-font-size + 5;margin-left:5px;}       
        }  
        p {margin:0 0 2px;}
    }    
    .cart-products .cart-item-quantity{     
        input[type="text"]{width:48px;}
    }
    .quote-products {
        table{background-color:#f7f7f7;border:1px solid $border-bgcolor-default;margin-bottom:0;
              tr td,tr th{border:1px solid $border-bgcolor-default;vertical-align:middle;padding:5px;}
        }
    }
    .order-history .table .z-podocument{display:none !important;}
}

// Media Query.
@include screensize(x-small) { 
.account-dashboard{
    .right-container{padding-right:0;padding-left:0;
        .edit-address-form{width:auto;}
        .address-bar,.address-billing{width:100%;}
    }
    .shopping-cart .cart-summary{padding:20px 5px;}
    .tabs-left li a{border-radius:4px;}
}
.user-account{padding:0 5px;
    .page-title{font-size:$base-font-size + 7;margin: 0 0 20px;color: #65829d;text-transform:capitalize;}
}
#poptreeview .dropdown-list-ul{right:auto;left:-30px;}
}
@include screensize(small) { 
.account-dashboard{
    .right-container{padding-right:0;padding-left:15px;
        .address-bar,.address-billing{width:49%;}
    }
    .shopping-cart .cart-summary{padding:20px;}
    .tabs-left li a{border-radius:4px 0 0 4px;}
    .cart-item-details{
        .cart-image {
            img {max-width:80px;}
            }
    }
}
.user-account{padding:0;}
#poptreeview .dropdown-list-ul{right:0;left:auto;}
}
@include screensize(medium) { 
.account-dashboard{
    .wishlist-item-image img{max-width:60%;}
    .address-list .address-blocks {min-height:235px;}
}
}
@include screensize(desktop) { 
.account-dashboard{
    .right-container{
        .edit-address-form{width:48%;}
    }
    .address-list .address-blocks {min-height:130px;}
    }
}
// Print View
@media print{
header,footer,.account-container-menu,.receipt-print,.product-altimages,.product-extras,.product-variations,.highlight-container,.compare-print{display:none;}
a[href]:after {content: none !important;}
}