﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
<head>
    <meta name="format-detection" content="telephone=no">
</head>
<div class="row">
    <div class="Newsletter hidden-xs" id="FooterContent" itemscope itemtype="http://schema.org/WebPage">
        <div class="container">
            <div class="row">
                <div id="NewsLetterSignUp">
                    <!--News Letter Widget-->
                    <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
        </div>
    </div>
    <div class="FooterTopSection">
        <div class="container container-mobile nopadding-potrait">
            <div class="col-md-12 nopadding-mobile FooterSection nopadding-potrait" itemscope itemtype="http://schema.org/WebPage">
                <!--Shop Now-->
                <div class="col-md-2 col-xs-12 nopadding-mobile FooterMenu sec1 nopadding-potrait">
                    <div class="widget">
                        <div class="header-footer">
                            <a href="#" onclick="Openclosemenu()" class="navbar-toggle mobile-toggle-menu hidden-lg hidden-md hidden-sm visible-xs mobile-shop-now" data-toggle="collapse" data-target="#navbar-collapse-nav"><h4>@Html.RenderMessage("ShopNow") <span class="pull-right"><i class="fa fa-plus-circle fa-mobile-size"></i></span></h4></a>
                            <h4 class="hidden-xs visible-sm visible-lg visible-md"><span class="mobile">@Html.RenderMessage("ShopNow")</span></h4>
                        </div>
                        <div class="footer-help-section-link hidden-xs visible-sm visible-lg visible-md">
                            <z-widget>@Html.WidgetPartial("LinkPanel", "ShopNow", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                        </div>
                    </div>
                    <!--Accordian call-->
                </div>

                <!--Footer Customer Service Widget-->
                <div class="col-md-3 nopadding-mobile FooterMenu sec1 nopadding-potrait">
                    <div id="accordion1" role="tablist" aria-multiselectable="true" class="widget">
                        <div role="tab" id="headingTwo">
                            <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    @Html.RenderMessage("CustomerService")
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="collapse desktop-collapse collapsefooter" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-block">
                                <div class="footer-help-section-link">
                                    <z-widget>@Html.WidgetPartial("LinkPanel", "CustomerServiceMobile", "2456", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--Store Specail Feature Widget-->
                <div class="col-md-3 nopadding-mobile FooterMenu sec1 nopadding-potrait">
                    <div id="accordion2" role="tablist" aria-multiselectable="true" class="widget">
                        <div role="tab" id="headingThree">
                            <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    @Html.RenderMessage("SpecialFeature")
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="collapse desktop-collapse collapsefooter" role="tabpanel" aria-labelledby="headingThree">
                            <div class="card-block">
                                <div class="footer-help-section-link">
                                    <z-widget>@Html.WidgetPartial("LinkPanel", "SpecialFeatureMobile", "2253", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--Store Company Info Widget-->
                <div class="col-md-2 nopadding-mobile FooterMenu sec1 nopadding-potrait">
                    <div id="accordion3" role="tablist" aria-multiselectable="true" class="widget">
                        <div role="tab" id="headingFour">
                            <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    @Html.RenderMessage("CompanyInfo")
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="collapse desktop-collapse collapsefooter" role="tabpanel" aria-labelledby="headingFour">
                            <div class="card-block">
                                <div class="footer-help-section-link" data-test-selector="divFooterInfoWidget">
                                    <z-widget>@Html.WidgetPartial("LinkPanel", "CompanyInfoMobile", "2985", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Store We Accept Widget-->
                <div class="col-md-2 nopadding-mobile FooterMenu sec1 nopadding-potrait">
                    <div id="accordion4" role="tablist" aria-multiselectable="true" class="widget">
                        <div role="tab" id="headingFive">
                            <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    @Html.RenderMessage("WeAccept")
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="collapse desktop-collapse collapsefooter" role="tabpanel" aria-labelledby="headingFive">
                            <div class="card-block">
                                <div class="footer-help-section-link">
                                    <z-widget>@Html.WidgetPartial("LinkPanel", "WeAcceptMobile", "109", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="hidden-xs">
                    <div class="Copyright">
                        <div>
                            @Html.RenderMessage("FooterRightsReserved")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        string customerServiceEmail = PortalAgent.CurrentPortal?.CustomerServiceEmail;
        string customerServicePhoneNumber = PortalAgent.CurrentPortal?.CustomerServicePhoneNumber;
    }
    <div class="FooterBottomSection">
        <div class="container">
            <div>
                <div class="col-lg-12 col-sm-12 col-xs-12 BottomSection">
                    <div class="SocialMedia" style="display: inline-flex;">
                        @Html.RenderMessage("FooterSocialMediaLink")
                    </div>
                    <div class="Email">
                        @{
                            string customerServiceEmailValue = customerServiceEmail;
                            if (!string.IsNullOrEmpty(customerServiceEmailValue))
                            {
                                char[] seperator = new char[] { ',' };
                                string[] customerServiceEmails = customerServiceEmailValue.Split(seperator, StringSplitOptions.RemoveEmptyEntries);
                                foreach (string email in customerServiceEmails)
                                {
                                    <a href="@(" mailto:" + email)" title="Email">@email</a>
                                }
                            }
                        }
                    </div>
                    <div class="Phone"><a href="tel:@customerServicePhoneNumber" title=@customerServicePhoneNumber>@customerServicePhoneNumber</a></div>
                </div>
            </div>
        </div>
        <div class="container visible-xs hidden-lg hidden-md">
            <div class="Copyright">
                <div>
                    @Html.RenderMessage("FooterRightsReserved")
                </div>
            </div>
        </div>
    </div>
</div>
<!--Scroll To Top-->
<a href="#layout" class="back-to-top"><span class="hidden">Top</span><i class="zf-up"></i></a>
<script>
    $('[itemtype = "http://schema.org/WebPage"] a').attr("itemprop", "significantLinks");
    function OnClick() {
        var jsonObjects = [{ email: "testusertest@example.com", example_property: "valueA" }];
        jQuery.ajax({
            url: 'https://cors-anywhere.herokuapp.com/https://a.klaviyo.com/api/v2/list/WhF7Kw/subscribe',
            type: "POST",
            data: { profiles: JSON.stringify(jsonObjects) },
            dataType: "jsonp",
            headers: {
                'Authorization': 'Basic ' + 'pk_aba1b09b3cd32fb9416eff631054db060a',
                'Access-Control-Allow-Origin': '*',
                'Access-Control-Allow-Methods': 'GET, POST, PATCH, PUT, DELETE, OPTIONS',
                'Access-Control-Allow-Headers': 'Origin, Content-Type, X-Auth-Token'
            },
            //beforeSend: function (xhr) {
            //    //xhr.setRequestHeader("Authorization", "Basic pk_aba1b09b3cd32fb9416eff631054db060a");
            //    xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            //   },
            success: function (result) {
                alert("Success");
            },
            error: function (err) {
                alert("error=" + JSON.stringify(err));
            }
        });
    }
    OnClick();

    apikey: "pk_aba1b09b3cd32fb9416eff631054db060a",
        <a onclick="return detect();" id="ctl00_ctl00_MainContent_uxProduct_uxAddToCart" title="Add to Bag" class="addtocartText" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ctl00$MainContent$uxProduct$uxAddToCart&quot;, &quot;&quot;, true, &quot;vgProductDetail&quot;, &quot;&quot;, false, true))"><span>Add to Bag</span></a>
</script>
<script async type="text/javascript"  src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=pk_aba1b09b3cd32fb9416eff631054db060a"></script>

<script>
  var _learnq = _learnq || [];

  _learnq.push(['identify', {    
      '$email': 'testusertest@example.com'
  }]);
</script>