﻿@import "_base.scss";

.advertisement-banner h3{font-size:20px;margin:40px 0;text-align:center;color:$base-color-secondary}

.home-wide-promo{min-height:40px;border:1px solid $border-bgcolor-default;margin:20px 0;text-align:center; background:$base-color-white;background: -moz-linear-gradient(top,  #ffffff 0, #f1f1f1 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#f1f1f1));background: -webkit-linear-gradient(top,  #ffffff 0,#f1f1f1 100%);background: -o-linear-gradient(top,  #ffffff 0,#f1f1f1 100%); background: -ms-linear-gradient(top,  #ffffff 0,#f1f1f1 100%);background: linear-gradient(to bottom,  #ffffff 0,#f1f1f1 100%);
    h5{color:#252525;line-height:40px;
        span{color:$base-color-primary;font-weight:bold;}
        i{font-size:44px;color:$base-color-primary;padding-left:5px;vertical-align:middle;}
    }    
}
.product-list-title{margin-bottom:30px;}

.track-order{float:right;
    a{color:$base-color-white;padding-right:15px;font-size:$base-font-size - 1;}
}
.label-environment{color:$base-color-white;font-size:$base-font-size;max-width:160px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}