﻿@import "_base.scss";

// Product Overview Details.
.product-view-details .product-overview { line-height:26px;color:#252525;font-size:$base-font-size + 1;
    .product-number-details{float:left;width:100%;}
    .product-number{float:left;line-height:20px;margin:5px 0;display:block;padding-right:15px;}
    .product-brand{float:left;line-height:20px;margin:5px 0;display:block;padding-left:15px;border-left:1px solid $border-bgcolor-default;}
    .product-number span,.product-brand span,.product-vendor span{font-weight:bold;}        
    .product-highlight{
        img{vertical-align:middle;max-height:35px;margin:0 auto;border:1px solid $border-bgcolor-default;}
        ul{margin:0; padding:5px 0;
            li{display:inline-block;list-style:none;padding:0 3px;}
        }
        .owl-theme .owl-controls{top:-20px;
                .owl-buttons .owl-prev{width:20px;height:20px;line-height:20px;}
                .owl-buttons .owl-next{width:20px;height:20px;line-height:20px;margin-right:5px;}
        }
    } 
    .product-status{background-color:#f8f8f8;border:1px solid $border-bgcolor-default;padding:6px 0;
            p{color:#05901b;font-size:12px;line-height:20px;margin-bottom:0;}
            i{font-size:30px;color:#05901b;vertical-align:middle;padding:0 5px;line-height:58px;}
    }
    .product-bundles{background-color:#f7f7f7;border:1px solid $border-bgcolor-default;padding:5px;max-height:300px;overflow-y:auto;
        img{margin:0 auto;}            
        .status-outofstock{font-size:12px;font-weight:bold;color:$base-color-primary;}
        ul{margin:0;padding:0;
            li{display:inline-block;vertical-align:top;width:24%;margin-bottom:10px;
                h5{font-size:$base-font-size;}
            }
        }
    } 
    .product-details-qty, .group-item-details {
        .error-msg{font-size:12px;font-family:$base-font-family-bold;color:$base-color-primary;} 
    }
}

.product-view-details .product-info{padding:0;margin:0;
    .product-price{
        h2{font-size:25px;font-weight:bold;margin:15px 0;}
        .cut-price{color:#9f9f9f; padding-left:5px;text-decoration:line-through;font-size:20px;}
    }  
    .product-variations{border:1px solid $border-bgcolor-default;background-color:#f7f7f7;
        .your-pricing,.product-wishlist{background-color:#efefef;padding:10px;}
        .your-pricing{
            h3{font-size:30px;font-family:$base-font-family-bold;color:$base-color-primary; margin:0;}
            span{font-size:$base-font-size; color:#949494;font-weight:normal;vertical-align:middle;display:block;line-height:20px;}
            button{margin-top:5px;}
        }
        .product-customize{padding:0 10px;
            .addons-attributs{padding:0;
                h4{font-size:$base-font-size + 1;font-family:$base-font-family-bold;min-height:20px;}
                label{font-size:$base-font-size;display:inline-block;vertical-align:top;}
                .form-group{float:left;width:100%;padding-left:0; margin-bottom:5px;
                    .cut-price {padding-right:0;}
                    .original-price {padding-left:5px;}
                }
                .quantity{width:50px;}
                select{width:50%;}
            }
            .swatch-img-container{padding:0;
                label{display:block;font-size:$base-font-size;text-transform: capitalize;font-weight:normal;}
                ul{padding:0;margin:0;
                    li{display:inline-block;cursor:pointer;}
                    img{border:1px solid $border-bgcolor-default;margin:0 5px 5px 0;max-height:40px;max-width:40px;
                        &:hover{border:1px solid $base-color-primary;}
                    }
                }
            }
            // Color Swatch Img.
            .size-swatch{padding:0;margin:0;
                    li{display:inline-block;cursor:pointer;margin-bottom:5px;line-height:26px;
                        label{text-align:center;margin:0;border:1px solid $border-bgcolor-default;background-color:$base-color-white;
                            &:hover{border:1px solid $base-color-primary;}
                            &:before,&:after{color:transparent;}                            
                        }
                        label.active{border:1px dashed $base-color-primary;}
                        label.scratch-image{padding:0;
                            &.scratchattribute:before{background:none;position:absolute;content:"";left:-5px;top:50%;right:-5px;color:#c3c3c3;padding:0;margin:0;border-top:1px solid #c3c3c3;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
                        }
                        label.scratch-text{padding:0 10px;
                            &.scratchattribute:before{background:none;position:absolute;content:"";left:0;top:50%;right:0;color:#c3c3c3;padding:0;margin:0;border-top:1px solid #c3c3c3;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-10deg);}
                        }
                    }
            }
            // Swatch Img default
            .swatch-img li img{max-width:37px;max-height:37px;}
            // Color Swatch Img.
            .color-swatch li label i{font-size:26px;padding:0 4px;line-height:28px;}
            .product-wishlist{
                button{margin-bottom:5px;}
                .social-share ul{padding:0; margin:0;float:left;
                    li{display:inline-block;}
                    i{font-size:26px;color:#787878;}
                }
            }
            .group-product-list{border-bottom:1px solid $border-bgcolor-default;padding:5px 0;margin:0;line-height:32px;
                img{width:65px;max-height:65px;float:left;}
                .group-item-details{
                    .product-details-quantity{overflow:hidden;} 
                }
                .quantity-state{padding-left:10px;font-size:12px;}
                .dynamic-product-price{font-weight:600;}
                .product-count-inventory{border-left:1px solid $footer-bgcolor;color:$base-color-primary;}
            }
        }
        .wishlist-status .success-msg{padding:2px 10px;}
        .tier-price table{margin:5px 0;}            
    }
}

// Customer Review
.write-review .form-group{float:left;width:100%;}
.write-review .setrating{
    input {position: absolute;top: 0;left: -9999px;}
    label{cursor:pointer;}    
}

// PDP Static Bar.
.wcn-static-bar{position:fixed;top:110px;left:0;right:0;width:100%;min-height:78px;background-color:$base-color-white;z-index:1024;visibility:hidden;opacity:0;transition:opacity 0.5s linear;-webkit-transition:opacity 0.5s linear;-moz-transition:opacity 0.3s linear;padding:10px 80px;
   .wcn-padding{padding-top:4px;}
   .wcn-tab{display: table-cell;vertical-align: middle;padding:10px 0;}
   .wcn-tab .tab-panel-heading {
           a:hover{color:$base-color-primary;}
          .active a{color: $base-color-primary !important;}
         li {list-style: none;display: inline-block;padding: 0 10px !important;border-right: 1px solid $border-bgcolor-default;
             &:last-child{border-right:none;}
         }
         a{text-transform: capitalize;font-size: 21px;font-family:$base-font-family;color:$base-color-secondary;cursor:pointer;
           .zf-wcn-arrow-right{font-size:11px;font-weight:600;padding-left:10px;}
         }
 }
   .btn-wishlist{display: inline-block;background-color: transparent;border: 0;font-family:$base-font-family;text-align: center;line-height: 1;height: 48px;font-size: 10px;vertical-align: bottom;padding: 0;margin-left: 12px;
                 i{display: block;font-size:$base-font-size+6;}
   }
   .product-price{float:left;
              h2{line-height:45px;padding-right:15px;font-size:26px;color:#cc0000;font-family:$base-font-family-bold;}
              .wcn-uom{font-family:$base-font-family;font-size:12px;text-transform:lowercase;color:$base-color-secondary !important;}
              .black-price{color:$base-color-secondary;}
    }
   .btn-add-to-cart .error-msg{display:none !important;}
}

//Sticky Notification bar
.sticky-bar{visibility: visible;opacity: 1;box-shadow: 5px 5px 10px 0 #b9b9b9;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px; min-height:55px !important;
    .image{width:55px;height:55px;border:2px solid $success-msg-fgcolor;float:left;display:block;}
    .wcn-product-detail{
        div{display:inline-block;font-size:$base-font-size + 1;vertical-align:middle;line-height:56px;
                 span{border-right:1px solid $border-bgcolor-default;padding:0 15px;}
                  .sku-label {border-right:none;padding:0}
                  .addtocart-label{color:$success-msg-fgcolor;font-weight:bold;padding-left:10px;}                                                      
        }        
    }   
   .zf-active{color:$success-msg-fgcolor;font-size:18px;}
   .close-btn{line-height:32px;vertical-align:middle;color:$base-color-primary;font-size:22px;cursor:pointer;}                                                    
   .checkout-btn{margin:0 10px;}
   .wcn-product-info {display:flex;align-items:center;justify-content:flex-start;
        .btn{height:38px;line-height:22px;}
    }
}

@import "widgets/_tabs.scss";
@import "widgets/_image-zoom.scss";

// Media Query
@include screensize(x-small) {
    .product-view-details{padding:0 5px;}
    .product-view-details .product-overview{
        .product-bundles ul li{width:48%;}
        .overview-small-view{padding:0;}     
    }
    .product-view-details .product-info{
        .product-variations .product-customize .group-product-list .group-item-details{padding-left:5px;padding-right:5px;}
        // Personlised Attributs
        .personlised-attribute{
            input[type="text"]{width:75%;}
        }
    }
    .write-review,.all-reviews{padding:0 5px;}
    .btn-print{display:none;}
      // PDP Static Bar.
    .wcn-static-bar{display:none;}
    .sticky-bar{display:block !important;padding:5px 0 !important;top:102px;
        .wcn-product-info-btn button{display:none;}
        .wcn-product-detail div{line-height:34px;
            .sku-label{padding-left:10px !important;}
            span{border-right:none;}
        } 
        .wcn-padding{padding-top:0;}
        .close-btn{position:relative;right:0;top:22px;}
    }
}
@include screensize(small) {
    .product-view-details{padding:0;}
    .product-view-details .product-overview {
        .product-bundles ul li{width:24%;}    
    }
    .product-view-details .product-info{
        .product-variations .product-customize .group-product-list .group-item-details{padding-left:20px;}
        // Personlised Attributs
        .personlised-attribute{
            input[type="text"]{width:50%;}
        }
    }
    .write-review,.all-reviews{padding:0;}
    .sticky-bar{top:106px;
        .wcn-product-detail div{line-height:34px;
            .sku-label{padding-left:0 !important;}
            span{border-right:1px solid $border-bgcolor-default;}
        } 
        .wcn-padding{padding-top:4px;}
    }
}
@include screensize(medium){
    .product-view-details .product-overview{padding-left:10px;
        .overview-small-view{padding:0 5px 0 0;}
    }
    // PDP Static Bar.
    .wcn-static-bar{padding:10px;min-height:78px;display:block;
        .wcn-padding {padding-top: 4px;}
        .wcn-tab{
             .tab-panel-heading{
                  a{font-size:21px;}
             }
        }
        .pull-right.padding-right{padding-right:20px;
            .product-price{
                h2{padding-right: 15px;}
            }
            .btn-add-to-cart{
                button.btn-lable{padding:6px 30px 6px 40px;}
            }
            .btn-wishlist{margin-left:13px;}
        }
    }
    .sticky-bar{top:110px;
        .wcn-product-info-btn button{display:inline-block;}
        .close-btn{top:0;}
    } 
}
@include screensize(desktop){
    .btn-print{display:inline-block;}
     // PDP Static Bar.
    .wcn-static-bar{padding:10px 80px;}
}

@media print{
    .btn-text, .product-view-details .product-rating a,.header-nav{display:none;}
    .product-details-tab .nav-tabs > li.active > a, .product-details-tab .nav-tabs > li.active > a:hover, .product-details-tab .nav-tabs > li.active > a:focus {font-weight:bold;}
    .product-details-tab ul li{width:auto;
        a{font-weight:normal;}
    }
}