﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model CartViewModel
@{
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.ShoppingCartItems.Any(x => !x.IsAllowedTerritories) ? "display:block" : "display:none" : "display:block";
}
<div class="shopping-cart">
    <h3 class="title">@WebStore_Resources.SinglePageCheckoutReviewOrder</h3>
    <div class="col-xs-12 nopadding cart-products">
        @if (Model.ShoppingCartItems?.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>@WebStore_Resources.LabelItem</th>
                        <th>@Admin_Resources.LabelUnitPrice</th>
                        <th>@WebStore_Resources.ColumnTitleQuantity</th>
                        <th>@WebStore_Resources.ColumnTitleTotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                    {
                        @Html.Partial("../cart/_CartRow", cartItem)
                    }
                </tbody>
            </table>
        }
        <div class="col-xs-12 col-sm-6 nopadding cart-summary">
            <div class="cart-total">
                @Html.Partial("../_TotalTable", Model)
            </div>
        </div>
    </div>

    @if (string.Equals(Model.RoleName, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase)
                                                        || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.DNRA.ToString(), StringComparison.CurrentCultureIgnoreCase)
                                                        || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                                        || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase) && (Model.SubTotal <= Model.BudgetAmount) || string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                                        || string.Equals(Model.RoleName, ZnodeRoleEnum.Customer.ToString(), StringComparison.CurrentCultureIgnoreCase)
                                                        || string.Equals(Model.RoleName, ZnodeRoleEnum.Admin.ToString(), StringComparison.CurrentCultureIgnoreCase) || Equals(Model.RoleName, null))
    {
        if (Model.IsSinglePageCheckout)
        {
            <div class="col-xs-12 col-sm-6 nopadding md-checkout-apply-coupon">
                @Html.Partial("../_ApplyCoupon", Model)
            </div>
        }

        if (!string.IsNullOrEmpty(HttpContext.Current.User.Identity.Name))
        {
            <div class="col-xs-12 col-sm-6 nopadding md-checkout-apply-giftcard">
                @Html.Partial("../_ApplyGiftCard", Model)
            </div>
        }
    }
</div>

@Html.HiddenFor(m => m.ErrorMessage, new { @id = "ShippingErrorMessage" })
@Html.HiddenFor(m => m.IsValidShippingSetting, new { @id = "ValidShippingSetting" })
@Html.HiddenFor(m => m.GiftCardMessage, new { @id = "cartGiftCardMessage" })
@Html.HiddenFor(m => m.GiftCardApplied, new { @id = "cartGiftCardApplied" })
@Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShipping" })

<script>
    $(document).ready(function () {
        Checkout.prototype.ChangeCartReviewSequence();
    })
</script>