﻿@using Znode.Engine.WebStore.ViewModels
@model OrdersViewModel
@using Znode.Libraries.ECommerce.Utilities
@if (!Equals(Model, null))
{
    <div class="main-wrapper">
        <div class="container">
            <div class="row checkout-reciept">
                <div class="col-xs-12 nopadding md-order-confirmation">
                    <div class="col-xs-12 nopadding order-confirm-block">
                        <div class="col-xs-12 nopadding md-page-title-div">
                            <h2 class="md-page-title">Your order has been received.</h2>
                        </div>
                        <div class="col-xs-12 nopadding md-order-details">
                            <h2 class="sub-title">Thank you for your purchase!</h2>
                            <p>
                                Your order number is <strong>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a href="/User/OrderReceipt?OmsOrderId=@Model.OmsOrderId">#@Model.OrderNumber</a>
                                    }
                                    else
                                    {
                                        <span>#@Model.OrderNumber</span>
                                    }
                                </strong>
                            </p>

                            <p>
                                An email receipt has been sent to <strong>@Model.EmailAddress</strong>, please keep this email for your records.
                            </p>
                            <div><a href="/CaseRequest/customerfeedback">@WebStore_Resources.TextCustomerFeedback</a></div>

                            <div class="col-xs-12 nopadding continue-shipping-btn">
                                <a href="/" class="btn-text btn-color-primary pull-right">Continue shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@* To DO - Need to move in checkout.ts *@
<script>
    $(document).ready(function () {
        $(window).scrollTop(0);
    })
</script>
