﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
@{
    var currencyCode = string.IsNullOrEmpty(Model.CurrencyCode) ? DefaultSettingHelper.DefaultCurrency : Model.CurrencyCode;
}
<tr>
    <td colspan="4">
        Subtotal
    </td>
    <td>
        @Helper.FormatPriceWithCurrency(Model.SubTotal, currencyCode)
    </td>
</tr>
@if (Model.Discount > 0)
{
    <tr>
        <td colspan="4">
            @WebStore_Resources.ColumnDiscounts
        </td>
        <td>
            @Helper.FormatPriceWithCurrency(0 - Model.Discount, currencyCode)
        </td>
    </tr>
}
@if (Model.TaxCost > 0)
{
    <tr>
        <td colspan="4">
            @WebStore_Resources.ColumnTax
        </td>
        <td>
            @Helper.FormatPriceWithCurrency(Model.TaxCost, currencyCode)
        </td>
    </tr>
}
@if (Model.ShippingCost > 0)
{
    <tr>
        <td colspan="4">
            @WebStore_Resources.LabelShippingCost
        </td>
        <td>
            @Helper.FormatPriceWithCurrency(Model.ShippingCost, currencyCode)
        </td>
    </tr>
}
@if (Model.GiftCardApplied)
{
    <tr>
        <td colspan="4">
            @WebStore_Resources.ColumnGiftCardAmount
        </td>
        <td>
            @Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, currencyCode)
        </td>
    </tr>
}
<tr>
    <td colspan="4">
        Grand Total
    </td>
    <td>
        @Helper.FormatPriceWithCurrency(Model.Total, currencyCode)
        @Html.Hidden("hdnTotalOrderAmount", Model.Total)
    </td>
</tr>
@Html.HiddenFor(m => m.Total)

@Html.HiddenFor(m => m.SubTotal)

@Html.HiddenFor(m => m.Discount)

@Html.HiddenFor(m => m.ShippingCost)

@Html.Hidden("hdnCurrencySuffix", Model.CurrencySuffix)

@Html.Hidden("hdnCustomerGUID", Model.CustomerPaymentGUID)

@Html.Hidden("hdnAnonymousUser", Model.UserId)