﻿@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@using Znode.Engine.Api.Models
@{
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    int inventoryRoundOffValue = string.IsNullOrEmpty(inventoryRoundOff) ? 0 : Convert.ToInt32(inventoryRoundOff);
    int minQty = Convert.ToInt16(Model?.MinQuantity);
    int maxQty = Convert.ToInt16(Model?.MaxQuantity);
    int incQty = Convert.ToInt16(Model?.MinQuantity);
}

@if (Model.GroupProducts?.Count > 0)
{
    <div class="group-product-container">
        @foreach (AssociatedProductModel product in Model.GroupProducts)
        {
            using (Html.BeginForm("UpdateCartQuantity", "Cart", new { guid = Model.ExternalId, productId = product.ProductId }, FormMethod.Post, new { @class = "frmCartQuantity" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-xs-12 nopadding md-add-to-cart-container">
                    <div class="md-spinner-btns">
                        <div class="md-spinner">
                            @*<button class="btn btn-spinner ProdSpinner" type="button"><i class="zf-ns-minus"></i></button>
                            <input type="text" class="quantity" name='Quantity' id="Quantity" value="@Math.Round(product.Quantity, inventoryRoundOffValue)" min='@minQty' max='@maxQty' data-incqty='@(incQty>0? incQty : 1)' data-cart-productId="@product.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff" onchange="Cart.prototype.UpdateCartQauntity(this);">
                            <button class="btn btn-spinner ProdSpinner" type="button"><i class="zf-ns-plus"></i></button>*@
                            <input type="text" name='Quantity' value="@Math.Round(product.Quantity, inventoryRoundOffValue)" data-cart-productId="@product.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@product.MinimumQuantity" data-cart-maxquantity="@product.MaximumQuantity" data-inventoryRoundOff="@inventoryRoundOff" onchange="Cart.prototype.UpdateCartQauntity(this);">
                        </div>
                    </div>
                </div>
                if (Model.InsufficientQuantity)
                {
                    <div class="error-msg">@WebStore_Resources.ErrorOutOfStockMessage</div>
                }
                <div id="quantity_error_msg_@product.ProductId" class="error-msg"></div>
            }
        }
    </div>
}
else
{
    using (Html.BeginForm("UpdateCartQuantity", "Cart", new { guid = Model.ExternalId, productId = 0 }, FormMethod.Post, new { @class = "frmCartQuantity" }))
    {
        @Html.AntiForgeryToken()
        string quantity = Helper.GetRoundOffQuantity(Model.Quantity);
        <div class="col-xs-12 nopadding md-add-to-cart-container">
            <div class="md-spinner-btns">
                <div class="md-spinner">
                    @*<button class="btn btn-spinner ProdSpinner" type="button" min='@minQty' max='@maxQty' data-incqty='@(incQty>0? incQty : 1)' data-cart-productId="@Model.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff"><i class="zf-ns-minus"></i></button>
                    <input type="text" class="quantity" name='Quantity' id="Quantity" value="@quantity" min='@minQty' max='@maxQty' data-incqty='@(incQty > 0 ? incQty : 1)' data-cart-productId="@Model.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff" onchange="Cart.prototype.UpdateCartQauntity(this);" onkeypress="return isNumber(event)">
                    <button class="btn btn-spinner ProdSpinner" type="button" min='@minQty' max='@maxQty' data-incqty='@(incQty>0? incQty : 1)' data-cart-productId="@Model.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff"><i class="zf-ns-plus"></i></button>*@
                    <input type="text" name='Quantity' value="@quantity" data-cart-productId="@Model.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff" onchange="Cart.prototype.UpdateCartQauntity(this);">
                </div>
            </div>
        </div>
        if (Model.InsufficientQuantity)
        {
            <span class="error-msg">@WebStore_Resources.ErrorOutOfStockMessage</span>
        }
        <div id="quantity_error_msg_@Model.ProductId" class="error-msg"></div>
    }
    <div id="quantity_error_msg" class="error-msg"></div>
}