﻿<div class="col-sm-12 nopadding cart-promocode">
    <div class="form-group">
        <h2 class="aside-panel collapsed" data-toggle="collapse" data-target="#cart-shipping-tax">@WebStore_Resources.LabelEstimateShipping</h2>
        <div id="cart-shipping-tax" class="aside-panel-block collapse">
            <div class="input-group md-apply-code-block">
                <label class="col-xs-12 nopadding md-code-label">Enter your destination to get a shipping estimate.</label>
                <div class="col-xs-12 nopadding right-inner-icon">
                    <input type="text" id="zipcode" name="zipcode" class="form-input" onblur="Cart.prototype.ShowHideCancelButton();" />
                    <span type="button" id="CancleShippingEstimator" onclick="Cart.prototype.ClearShippingEstimates();" style="display:none;" class="cancel-shipping-estimator"><i class="zf-close"></i></span>
                </div>
                <div class="col-xs-12 nopadding input-group-btn md-code-button">
                    <button type="button" id="shippingEstimator" class="btn-text btn-color-primary" onclick="Cart.prototype.GetShippingEstimates();">@WebStore_Resources.LabelEstimate</button>
                </div>
                <div id="zipcodeerrormessage" class="field-validation-error"></div>
                <div id="shippingOptionsContainer" class="shipping-estimate-details field-validation-error"></div>
            </div>
        </div>
    </div>
</div>