﻿@using Znode.WebStore.Custom.ViewModel
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@model List<RSSalesDetailsViewModel>
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    List<string> brandList = Model.Select(x => x.Brand).Distinct().ToList();
    brandList.Sort();
    }

    @{

        ViewBag.Title = "Sale Details | Rogan’s Shoes";
        ViewBag.Description = "Sale Details for promotions from Rogan’s Shoes";
    }
<style>
    .saledetails-Divide {
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }
    .saledetails {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1; /*3 in those rules is just placeholder -- can be anything*/
    }
    .saledetails ul > li {
        display: inline-block; /*necessary*/
    }
</style>

    <div class="main-wrapper">
        <div class="container">
            <div class="contain-pages">
                <div class="col-xs-12 nopadding">
                    <div class="PageTitle">
                        <h1>Sale Details</h1>
                    </div>
                    <div>
                        @Html.RenderMessage("SaleDetailsContent")
                    </div>
                    <div class="Form LableForm col-xs-12 col-md-12 col-lg-12 nopadding margin-top margin-bottom">
                        <z-widget>@Html.WidgetPartialAjax("TextEditor", "SaleDetailsHeaderContent", "652", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 margin-top margin-bottom nopadding">
                        @foreach (string brand in brandList)
                        {
                            List<RSSalesDetailsViewModel> brandSpecificProductsList = Model.Where(x => x.Brand == brand).ToList();
                            <div class="saledetails-Divide">
                                <h4>@brand</h4>
                                <div class="saledetails">
                                    <ul>
                                        @foreach (RSSalesDetailsViewModel product in brandSpecificProductsList)
                                        {

                                            <li><a href="@Url.GetProductUrl(product?.SEOUrl, product?.ProductId.ToString())">@product.SKU</a></li>

                                        }
                                    </ul>
                                </div>
                            </div>
                            
                        }
                    </div>
                    <div class="Form LableForm col-xs-12 col-md-12 col-lg-12 nopadding margin-top margin-bottom">
                        <z-widget>@Html.WidgetPartialAjax("TextEditor", "SaleDetailsFooterContent", "653", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)



