﻿@using Znode.Libraries.Resources
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.Models
@{
    if (String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = PortalAgent.CurrentPortal.WebsiteTitle;
    }
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string _customModule = ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper() == ViewContext.Controller.GetType().Name.Replace("Controller", "") ? string.Empty : $".{ViewContext.Controller.GetType().Name.Replace("Controller", "")}";
    string customerServicePhoneNumber = PortalAgent.CurrentPortal?.CustomerServicePhoneNumber;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;

}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    @Scripts.Render("~/bundles/jquery")
    @Html.Partial("_LayoutHead")
</head>
<body id="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" class="@ViewContext.RouteData.Values["Action"]" data-controller="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()@_customModule" data-view="@ViewContext.RouteData.Values["Action"].ToString().FirstCharToUpper()">
    @Html.Partial(Helper.GetThemeFilePath($"/Views/Themes/", "/Views/Home/_StoreAnalyticsInstallation.cshtml"), PortalAgent.CurrentPortal)
    <div id="layout" class="wrapper">
        <!--Start Nivi Code Skip To Main Content-->
        <div role="navigation" aria-label="Skip to the Main Content">
            <a class="skip-main" tabindex="1" href="#layout-content">Skip to main content</a>
        </div>
        <!--End Nivi Code Skip To Main Content-->
        <!--Header Widgets-->
        <header>
            <z-widget>@Html.WidgetPartial("Header", "Header", "101", "PortalMapping")</z-widget>
        </header>
        <div id="layout-content">
            <div class="container-fluid" id="SuccessMessage">
            </div>
            <div class="container">
                <div class="row">
                    <!-- Notification Msg -->
                    <div class="container">
                        <div class="row">
                            <div class="notification-msg" id="body">
                                <div class="container">
                                    <div class="messageBoxContainer" id="messageBoxContainerId" data-message="@TempData["Notifications"]" data-test-selector="lblNotificationsMsg"></div>
                                    @{
                                        TempData.Remove("Notifications");
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    @RenderBody()
                </div>
            </div>
        </div>
        <!--Footer Widgets-->
        @{
            Html.RenderAction("FooterContent", "Home", new { portalId = _portal.PortalId, publishState = _portal.PublishState });
        }
    </div>
    @Html.Partial("_InlineTemplates")

    @Html.Hidden("hdnPaymentAppUrl", @ZnodeWebstoreSettings.PaymentApplicationUrl)
    @Html.Hidden("hdnWebStoreUrl", @ZnodeWebstoreSettings.ZnodeWebStoreUri)

    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/CoreJs")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/ZnodeCoreJs")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/Scripts/lib/DynamsoftBarcode/dbr-7.0.min.js")

    @RenderSection("scripts", required: false)




    @*---Quick View PopUp----*@
    <div class="modal fade quick-view-popup" id="quick-view-popup-ipad" tabindex="-1" role="dialog" aria-labelledby="quick-view-content">
        <div class="popup-container modal-dialog">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="close-quick-view-popup-ipad" aria-hidden="true"><i class="zf-close"></i></span></button>
            <div id="quick-view-content" data-test-selector="divQuickViewContent">
            </div>
        </div>
    </div>
    @Html.Partial(Helper.GetThemeFilePath($"/Views/Themes/", "/Views/Shared/Controls/_PopUp.cshtml"),
    new PopupModel()
    {
        Title = Admin_Resources.Error,
        Description = @Admin_Resources.ErrorSelectRecord,
        ModalPopUpId = "NoCheckboxSelected",
        IsErrorPopUp = true,
    })

    @Html.Partial(Helper.GetThemeFilePath($"/Views/Themes/", "/Views/Shared/Controls/_PopUp.cshtml"),
    new PopupModel()
    {
        Title = WebStore_Resources.ConfirmDeleteTitle,
        Description = WebStore_Resources.TextConfirmDelete,
        ModalPopUpId = "PopUpConfirm",
        Buttons = new List<PopUpButtonModel>() { new PopUpButtonModel { ButtonText = @WebStore_Resources.TextOk, OnClickFunctionName = "DynamicGrid.prototype.RedirectToDelete(this)" } }
    })
    @*This div is important for displaying product compare status*@
    <div id="divAddedForCompare" class="modal fade comparepopup" role="dialog" aria-labelledby="popUp_content">
        <div class="compare-product-popup" id="popUp_content" data-test-selector="divCompareProduct">
        </div>
    </div>
    <button data-test-selector="btnCompare" id="btnAddCompare" style="display:none" data-toggle="modal" data-target=".comparepopup">Compare</button>
    @Html.Hidden("hdnPortalId", PortalAgent.CurrentPortal.PortalId)
    @* Loader *@
    <div id="Single-loader-content-backdrop" class="modal-backdrop fade in" style="display:none;margin-bottom:auto;margin-top:auto;">
        <div id="loading" class="loader loader-body">
            <img src="@_fileLocation/Images/loading.svg" alt="Loading" />
        </div>
    </div>
</body>
</html>



<script>
    $(window).on("scroll touchmove", function () {
        $('.header').toggleClass('shrink', $(document).scrollTop() > 0);
    });
    var dataLayer = [];

    $(document).ready(function () {
        var notification = new ZnodeNotification();
        notification.DisplayNotificationMessages();
    });
</script>

<script async>
    $('#txtzipcitystate').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            event.preventDefault();
            $("#btnSubmit").click();
            //alert('You pressed a "enter" key in textbox');
        }

        event.stopPropagation();
    });
</script>

@if (Helper.GetCMSMode())
{
    <style type="text/css">
        a, button:not(.btn-text-secondary-custom), .product-item {
            pointer-events: none;
        }
    </style>
    <script src="~/Scripts/Custom/ConfigButton.js"></script>
}

@*<div class="ComodoLogo">
    <script type="text/javascript" async>
        //<![CDATA[
        var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
        document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
        //]]>
    </script>
    <script language="JavaScript" type="text/javascript" async>
        TrustLogo("https://www.rogansshoes.com/images/comodo_secure_113x59_white.png", "SCAS", "none");
        $(".ComodoLogo img").attr("alt", "Comodo Secure");
    </script>
    <a href="https://ssl.comodo.com/ev-ssl-certificates.php" id="comodoTL">EV SSL Certificate</a>
</div>*@
@Html.Hidden("currentThemePath", _portal.Theme)
@Html.Partial("../Schema/_OrganizationSchema", PortalAgent.CurrentPortal)