﻿@model Znode.Engine.WebStore.ViewModels.CaseRequestViewModel
@{
    ViewBag.Title = WebStore_Resources.TitleUserFeedback;
}
<div id="layout-contactus" class="main-wrapper">

    <div class="container">
        <div class="row contain-pages">
            <div class="col-xs-12 nopadding md-page-title-div">
                <h2 class="md-page-title">@WebStore_Resources.HeaderCustomerFeedback</h2>
            </div>
            <div class="col-xs-12 nopadding border-top padding-top">
                <div class="col-xs-12 col-md-7 col-lg-6 nopadding">
                    @using (Html.BeginForm("CustomerFeedback", "CaseRequest", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <p>@WebStore_Resources.CustomerFeedbackIntroText</p>

                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Html.Label(WebStore_Resources.LabelComments)
                            </div>
                            <div class="col-sm-12 nopadding">
                                @Html.TextAreaFor(model => model.Message)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Html.Label(WebStore_Resources.LabelFirstName, new { @class = "required" })
                            </div>
                            <div class="col-sm-12 nopadding">
                                @Html.TextBoxFor(model => model.FirstName)
                                <span id="valFirstNameErr" class="field-validation-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Html.Label(WebStore_Resources.LabelLastName, new { @class = "required" })
                            </div>
                            <div class="col-sm-12 nopadding">
                                @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100 })
                                <span id="valLastNameErr" class="field-validation-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Html.Label(WebStore_Resources.LabelCity)
                            </div>
                            <div class="col-sm-12 nopadding">
                                @Html.TextBoxFor(model => model.CustomerCity)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Html.Label(WebStore_Resources.LabelState)
                            </div>
                            <div class="col-sm-12 nopadding">
                                @Html.TextBoxFor(model => model.CustomerState)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Html.Label(WebStore_Resources.LabelEmailAddress, new { @class = "required" })
                            </div>
                            <div class="col-sm-12 nopadding">
                                @Html.TextBoxFor(model => model.EmailID, new { @maxlength = 200, @id = "valEmailAddress" })
                                <span id="valEmailAddressErr" class="field-validation-error"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 nopadding styled-input">
                            <input type="checkbox" id="allow_sharing" name="AllowSharingWithCustomer" value="true" checked="checked" /><label for="allow_sharing">@WebStore_Resources.CheckBoxTextFeedbackShare</label>
                        </div>
                        <div class="form-group">
                            <div class="pull-right margin-top-bottom">
                                <button type="submit" class="btn-text btn-color-primary" id="customer-feedback">@WebStore_Resources.ButtonSubmit</button>
                                <a href="/Home/Index" class="btn-text btn-color-secondary">@WebStore_Resources.ButtonCancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
