﻿@model WidgetParameter
    <!--Old 9.3-->
@*<div id="link-products" class="product-list-widget">
    <script> $.ajax({ url: "/Product/GetLinkProducts?productId=@Model.CMSMappingId", type: "get" }).done(function (t) { $("#link-products").html(t); InitbLazy(); });</script>
</div>*@

<!--New 9.6-->
<div id="link-products" class="product-list-widget">
    @{ Html.RenderAction("GetLinkProducts", "Product", new { productId = Model.CMSMappingId }); }
    <script>InitbLazy();</script>
</div>

