﻿@model WidgetParameter
@{
    string divId = $"home-offer-slider-area_{Model.WidgetKey}";
}
<div id="@divId" class="home-offer-slider-area">
    @Html.OfferBannerControl("_OfferBanner", Model)
</div>
@*<script>$.ajax({ url: "/Home/OfferBanner?cMSMappingId=" +@Model.CMSMappingId+"&displayName=" + '@Model.DisplayName' + "&typeOfMapping=" + '@Model.TypeOfMapping' + "&widgetCode=" + '@Model.WidgetCode' + "&widgetKey=" + '@Model.WidgetKey', type: "get" }).done(function (t) { $('#@divId').html(t);});</script>*@
