﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
    var cultureCode = string.IsNullOrEmpty(Model?.CultureCode) ? DefaultSettingHelper.DefaultCulture : Model.CultureCode;
    //decimal cartCount = (Model?.ShoppingCartItems?.Any() ?? false) ? WidgetHelper.GetCartCount() : 0M;
    decimal cartCount = (Model?.ShoppingCartItems?.Any() ?? false) ? (Model?.ShoppingCartItems?.Sum(x => x.Quantity)).GetValueOrDefault() : 0M;
    bool isQuoteRequestEnabled = GlobalAttributeHelper.IsQuoteRequestEnabled();
    //string removeItemOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "SendEcommerceDataForRemoveAllCartItems(this)" : "javascript:$($(this).closest('form').submit());";
    //string checkoutButtonOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "ValidateAndSendCheckoutData();" : "Cart.prototype.ValidateProductQuantity();";
}
<div id="divShoppingCart">
    <div class="row">
        <div class="container-fluid">
            <!--Cart Notification Msg -->
            <div class="">
                <p class="notification-msg message-box alert-danger text-center" style="display:none;" id="PickUpStockError"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ShoppingCart">
            <div class="col-xs-12">
                <div class="CartTitleArea Clearfix">
                    <div>
                        <div class="PageTitle"><h1>@Html.RenderMessage("ShopingCartLabel")</h1></div>
                        <h2 class="hidden">@Html.RenderMessage("ShopingCartLabel")</h2>
                        @if (Model?.ShoppingCartItems != null && Model?.ShoppingCartItems.Count > 0)
                        {
                        <div class="CheckoutBox">
                            @*@if (User.Identity.IsAuthenticated && isQuoteRequestEnabled)
                            {
                                <a data-test-selector="linkRequestQuote" href="/Quote/Index" class="checkout" id="requestQuote-link" onclick="return Cart.prototype.ValidateProductQuantityForQuote();">@WebStore_Resources.ButtonRequestQuote</a>
                            }*@
                            <a data-test-selector="linkCheckout" href="/Checkout/Index" class="checkout" id="checkOut-link" onclick="return Cart.prototype.ValidateProductQuantity();">@WebStore_Resources.ButtonProceedToCheckout</a>
                        </div>
                        }
                        else
                        {
                            <div class="Error">
                                <div class="uxMsg ErrorSection"><em>@WebStore_Resources.NoItemCartErrorMessage</em></div>
                            </div>
                            <div class="CheckoutBox"><a data-test-selector="linkContinue" class="checkout" href="/">@WebStore_Resources.ButtonContinueShopping</a></div>
                        }
                    </div>
                </div>
            </div>

            @if (Model?.ShoppingCartItems?.Any() ?? false)
            {
                <div class="col-xs-12 cart-products">
                    <table class="table Grid table-responsive">
                        <thead>
                            <tr class="Header">
                                <th data-test-selector="lblItem">@WebStore_Resources.LabelItem</th>
                                <th data-test-selector="lblItemPrice">@WebStore_Resources.ColumnTitleItemPrice</th>
                                <th data-test-selector="lblItemQuantity">@WebStore_Resources.ColumnTitleQty</th>
                                <th data-test-selector="lblItemTotal" class="text-right">@WebStore_Resources.ColumnTitleTotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*To show the recently added product on the top of cart.*@
                            @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                            {
                                @Html.Partial("_CartRow", cartItem)
                            }
                        </tbody>
                    </table>
                    @Html.HiddenFor(x => insufficientQuantity, new { id = "hdnInsufficientQuantity" })
                </div>
                <div class="col-xs-12">
                    <div class="Form">
                        <div class="Row Clear">
                            <div class="TotalBox">
                                <div class="LeftContent">
                                    <div class="ContinueShopping Coupen"><button title="Continue Shopping" class="button" onclick="window.location.href='../'">@WebStore_Resources.ButtonContinueShopping</button></div>
                                    <div class="CustomMessage">@Html.RenderMessage("ShippingAndTaxes")</div>
                                </div>
                                <div class="RightContent">
                                    <div class="CartPricingSection" id="CartOrdersummary">
                                        @*@Html.Partial("../_TotalTable", Model)*@
                                        <div class="col-xs-12 nopadding cart-total cart-total-content" id="summary-details">
                                            <img src="~/Views/Themes/RogansShoes/Images/loading.gif" alt="Loading" class="dashboard-loader" style='justify-content:center;align-items:center;'>
                                        </div>
                                        <script>$.get("/cart/CalculateCart", function (res) { $(".cart-total-content").html(res); if ($('#dynamic-order-total')) $('#dynamic-cart-order-total').html($('#dynamic-order-total')[0].innerText); });</script>
                                    </div>
                                    <div>
                                        @if (Model?.ShoppingCartItems != null && Model?.ShoppingCartItems.Count > 0)
                                        {
                                            <div class="CheckoutBox Right margin-top">
                                                <a data-test-selector="linkCheckout" href="/Checkout/Index" class="checkout" id="checkOut-link" onclick="return Cart.prototype.ValidateProductQuantity();">@WebStore_Resources.ButtonProceedToCheckout</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="Error">
                                                <div class="uxMsg ErrorSection"><em>@WebStore_Resources.NoItemCartErrorMessage</em></div>
                                            </div>
                                            <div class="CheckoutBox"><a data-test-selector="linkContinue" class="checkout" href="/">@WebStore_Resources.ButtonContinueShopping</a></div>
                                        }
                                    </div>
                                </div>
                                <div class="clearfix CouponContent ContainerSection">
                                    <div class="CouponContentBox">
                                        @Html.Partial("../_ApplyCoupon", Model)
                                    </div>
                                    <div class="PromiseSection">
                                        <div class="col-lg-12 col-md-12 nopadding hidden-xs hidden-sm hidden-md">
                                            <div class="BannerBox">
                                                <!--Rogans Shoes Promise Shopping Cart Page-->
                                                @Html.RenderMessage("ShoppingCartRogansPromise")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <!--No Item Cart Error Msg-->
                @*<div class="col-xs-12 nopadding cart-summary">
                        <p class="text-center margin-top-bottom">@WebStore_Resources.NoItemCartErrorMessage</p>
                    </div>*@
            }
        </div>
    </div>
</div>

<script async>
    alert("cartCount=" +@cartCount);
    $(".cartcount").html(@cartCount);
</script>
<script async>
    $(".checkout").click(function () {
        if ($("#PickUpStockError").is(":visible")) {
            $('html, body').animate({
                scrollTop: $("#PickUpStockError").offset().top
            }, 1000);
        }
    });
</script>

@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        var data = @Html.RenderBlock(Json.Encode(Model.GetEcommerceCartItemsData()));
        function SendEcommerceDataForRemoveAllCartItems(control) {
            GoogleAnalytics.prototype.SendRemoveFromCartsForAllCartItems(data);
            $(control).closest('form').submit();
        }
        function SendEcommerceDataForRemoveSingleCartItem(control, sku) {
            var dec = decodeURI(sku);
            $.each(data, function (v, e) {
                if (dec == e.SKU) {
                    GoogleAnalytics.prototype.SendRemoveFromCartsForSingleCartItem(e);
                }
            });
            $(control).closest('form').submit();
        }
        function ValidateAndSendCheckoutData() {
            var isValid = new Boolean(Cart.prototype.ValidateProductQuantity());
            if (isValid) {
                GoogleAnalytics.prototype.SendEcommerceCheckoutData(data);
            }
            return isValid;
        }
    </script>
}