﻿@using Znode.Engine.WebStore.ViewModels

@model IEnumerable<CategorySubHeaderViewModel>
@foreach (var subCategory in Model)
{
    string catname = subCategory.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
    // <a href="@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" title="@WebUtility.HtmlDecode(subCategory.CategoryName)">@WebUtility.HtmlDecode(catname)</a>

    string visibleInNav = subCategory.Attributes.FirstOrDefault(w => w.AttributeCode == "IsUsedInNavigation")?.AttributeValues;

    if (visibleInNav == "true" || visibleInNav == "1")
    {
        <li style="margin: 0 0 6px;"><a href="@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" itemprop="url" title="@WebUtility.HtmlDecode(subCategory.CategoryName)">@WebUtility.HtmlDecode(catname)</a></li>
    }
}