﻿@using Znode.Engine.WebStore.ViewModels

@model IEnumerable<CategorySubHeaderViewModel>
@foreach (var subCategory in Model)
{
    string catname = subCategory.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
    <li><a href="@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" title="@WebUtility.HtmlDecode(catname)">@WebUtility.HtmlDecode(catname)</a></li>
}