﻿@model Znode.Engine.WebStore.ViewModels.UserOrderViewModel
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
<div id="layout-account-editprofile" class="main-wrapper">
    <div class="container">
        <div class="user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="PageTitle">@WebStore_Resources.TitleOrder @WebStore_Resources.TextDetails</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 nopadding">
                    <div class="col-xs-12 col-sm-6 nopadding">
                        @using (Ajax.BeginForm("GetOrderDetails", "User", new { orderNumber = Model.OrderNumber, firstName = Model.FirstName, LastName = Model.LastName, emailAddress = Model.EmailAddress }, new AjaxOptions()
                        {
                            HttpMethod = "post",
                            UpdateTargetId = "userorderdetails",
                            InsertionMode = InsertionMode.Replace,
                            OnBegin= "ZnodeBase.prototype.ShowLoader();",
                            OnComplete= "ZnodeBase.prototype.HideLoader();"
                        },new { @id="frmOrderDetails"}))
                        {
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label class="required">@WebStore_Resources.TitleOrderNo</label>
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.OrderNumber)
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.OrderNumber)</p>
                                        </div>
                                    </div>
                                    <div style="display:none">
                                        <div class="form-group">
                                            <div class="col-xs-12 nopadding">
                                                <label>@WebStore_Resources.LabelFirstName</label>
                                            </div>
                                            <div class="col-xs-12 nopadding">
                                                @Html.TextBoxFor(model => model.FirstName)
                                                <p class="error-msg">@Html.ValidationMessageFor(m => m.FirstName)</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12 nopadding">
                                                <label>@WebStore_Resources.LabelLastName</label>
                                            </div>
                                            <div class="col-xs-12 nopadding">
                                                @Html.TextBoxFor(model => model.LastName)
                                                <p class="error-msg">@Html.ValidationMessageFor(m => m.LastName)</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label class="required">@WebStore_Resources.LabelEmailAddress</label>
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.EmailAddress)
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.EmailAddress)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 margin-bottom nopadding">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">@WebStore_Resources.LabelGetOrderDetails</button>
                                    <a href="/" class="btn btn-primary">@WebStore_Resources.ButtonCancel</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="userorderdetails">
                </div>
            </div>
        </div>
    </div>
</div>

