﻿@using Znode.Engine.WebStore.ViewModels
@model ChangePasswordViewModel
@{

}

<!--Main Container-->
<div class="main-wrapper">
    <div class="container">
        <div class="row register-container">
            @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-xs-12 nopadding">
                    <h1 class="page-title">@WebStore_Resources.ButtonResetPassword</h1>
                </div>
                    <div class="col-xs-12 col-sm-6 nopadding">
                        @if (string.IsNullOrEmpty(Model.PasswordToken))
                        {
                            <div class="form-group">
                                <div class="col-lg-12 nopadding">
                                    @Html.PasswordFor(m => m.OldPassword, new { @required = "required", @title = @WebStore_Resources.LabelOldPassword })
                                    <label class="required" alt="@WebStore_Resources.LabelOldPassword" placeholder="@WebStore_Resources.LabelOldPassword"></label>
                                   @Html.ValidationMessageFor(m => m.OldPassword)
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-lg-12 nopadding">
                                @Html.PasswordFor(m => m.NewPassword, new { @required = "required", @title = @WebStore_Resources.LabelNewPassword })
                                <label class="required" alt="@WebStore_Resources.LabelNewPassword" placeholder="@WebStore_Resources.LabelNewPassword"></label>
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 nopadding">
                                @Html.PasswordFor(m => m.ReTypeNewPassword, new { @required = "required", @title = @WebStore_Resources.LabelReTypeNewPassword })
                                <label class="required" alt="@WebStore_Resources.LabelReTypeNewPassword" placeholder="@WebStore_Resources.LabelReTypeNewPassword"></label>
                                @Html.ValidationMessageFor(m => m.ReTypeNewPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                <div class="pull-right">
                                    <input type="submit" class="btn btn-primary" value="@WebStore_Resources.ResetPasswordButtonText" />
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.PasswordToken)
                        @Html.HiddenFor(x => x.UserName)
                    </div>
            }
        </div>
    </div>
</div>