﻿@model Znode.Engine.Admin.ViewModels.EmailTemplateListViewModel
@using Znode.Engine.Admin.Models
@{
    ViewBag.Title = PIM_Resources.TitlePIM + " | " + Admin_Resources.Multifront;
}
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel" class="dirtyignore">
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.EmailTemplateList</h1>
            <div class="pull-right">
                <button type="button" class="btn-text-icon" onclick="WebSite.prototype.ShowOverlayOnCancel('divEmailTemplatelistPopup')"><i class='z-back'></i>@Admin_Resources.ButtonBack</button>
            </div>
        </div>
        <section class="col-sm-12 page-container">
            @using (Ajax.BeginForm("EmailTemplateList", "Website", new { checkEmailType = Model.CheckEmailType }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.HiddenFor(model => model.CheckEmailType)

            @Html.HiddenFor(model => model.CheckEmailType, new { @id = "hdnCheckEmailType" })
            
        </section>
    </div>
</div>

<script>
    WebSite.prototype.GetEmailTemplateDetail();
</script>


