﻿@import "../_base.scss";

// Input Field
input[type="text"], input[type="password"], input[type="email"]{ 
  @include input-field;
  height:38px;line-height:1;border-radius:0;-webkit-appearance:none;
}
textarea {
  @include input-field;
  resize: none;overflow-y:auto;min-height:38px;border-radius:0;
}
html input[disabled], html select[disabled], html textarea[disabled], html input[readonly], html select[readonly], html textarea[readonly]{cursor: not-allowed;background-color:#efefef;}
button[disabled]{cursor: not-allowed;opacity:0.3;}
.disable-anchor{color:#ddd;cursor: not-allowed;opacity:0.3;pointer-events:none;}
.disable-radio{color:#ddd;cursor: not-allowed;pointer-events:none;}

// Input Fields Inner Icons
.left-inner-icon{position:relative; 
    input{padding-left:36px;}
    i{position:absolute;padding:8px 5px;height:34px;pointer-events:none;top:0;line-height:4px;}
}
.right-inner-icon{position:relative; 
    input{padding-right:36px;}
    i{position: absolute;right:0;top:0;padding:9px 10px;height:34px;pointer-events:none;line-height:4px;}
}