﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@using System.Web.Configuration;
@using Znode.Engine.WebStore.Agents;
@using System.Configuration
@model ProductViewModel
@{
    /**/
    List<AttributesViewModel> lst = Model.ConfigurableData.ConfigurableAttributes.Where(x => x.AttributeCode == "Color")?.ToList();
    string colorlist = string.Join(",", lst.FirstOrDefault().ConfigurableAttribute.Select(y => y.AttributeValue));

    var _portal = PortalAgent.CurrentPortal;
    var brand = Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand);
    var DESC = Model.Attributes?.Value("LongDescription")?.Replace("\"", "'");
    string SKU = Model.SKU;
    SKU = SKU.Substring(3, SKU.Length - 3);
    ////Image Changes
    string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
    string BaseImageAtt = Convert.ToString(Model.Attributes?.Value("BaseImage"));
    string BaseImage = "";
    if (BaseImageAtt != null)
    {
        BaseImage = BaseImagePath + @"t_1000/" + BaseImageAtt;
    }
    string sch_name = Model?.Name;
    string sch_image = Model?.ImageMediumPath;
    string sch_url = WebConfigurationManager.AppSettings["ZnodeWebStoreUri"] + "/" + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString());
    string sch_desc = Model?.SEODescription;
    string @sch_currencycode = Model?.CurrencyCode;
    string sch_price = Convert.ToString(Model?.ProductPrice);

}

@{Boolean IsProductRated = false;
    if (Convert.ToDecimal(@Model.Rating) > 0)
    {
        IsProductRated = true;

    }

}
@*Schema Volcabulary tags*@
@*<script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "Product",
        "name": "@sch_name",
        "image": "@sch_image",
        "url": "@sch_url",
        "description": "@sch_desc",
        "sku": "@Model.SKU",
        "brand": {
        "@@type": "Thing",
        "name": "@_portal.Name"
        },
        "offers": {
        "@@type": "AggregateOffer",
        "priceCurrency":  "@sch_currencycode",
        "lowprice":  "@sch_price",
        "highprice": "@sch_price" ,
        "price":"@sch_price",
        "itemCondition": "http://schema.org/NewCondition",
        "availability": "http://schema.org/InStock",
        "seller": {
        "@@type": "Organization",
        "name": "@_portal.Name"
        }

        }
        }
    </script>*@

@if (IsProductRated)
{
<div id="PDPSchema" style="display: none;">
    "@@context": "http://schema.org/",
    "@@type": "Product",
    "name": "@Html.RenderBlock(Model.Name)",
    "image": "@Html.RenderBlock(BaseImage)",
    "url": "@sch_url",
    "description": "@DESC",
    "color": "@colorlist",
    "sku": "@Html.RenderBlock(Model.SKU)",
    "brand": "@brand",
    "mpn" : "@SKU",
    "aggregateRating": {
    "@@type": "AggregateRating",
    "ratingValue": "@Model.Rating",
    "reviewCount": "@Model.ProductReviews.Count"
    },
    "offers": {
    "@@type": "AggregateOffer",
    "priceCurrency":  "@sch_currencycode",
    "lowprice":  "@Model.SalesPrice",
    "highprice": "@Model.SalesPrice" ,
    "price":"@sch_price",
    "itemCondition": "http://schema.org/NewCondition",
    "availability": "http://schema.org/InStock",
    "seller": {
    "@@type": "Organization",
    "name": "@_portal.Name"
    }
    }
</div>
}
else
{
<div id="PDPSchema" style="display: none;">
    "@@context": "http://schema.org/",
    "@@type": "Product",
    "name": "@Html.RenderBlock(Model.Name)",
    "image": "@Html.RenderBlock(BaseImage)",
    "url": "@sch_url",
    "description": "@DESC",
    "color": "@colorlist",
    "sku": "@Html.RenderBlock(Model.SKU)",
    "brand": "@brand",
    "mpn" : "@SKU",
    "offers": {
    "@@type": "AggregateOffer",
    "priceCurrency":  "@sch_currencycode",
    "lowprice":  "@Model.SalesPrice",
    "highprice": "@Model.SalesPrice" ,
    "price":"@sch_price",
    "itemCondition": "http://schema.org/NewCondition",
    "availability": "http://schema.org/InStock",
    "seller": {
    "@@type": "Organization",
    "name": "@_portal.Name"
    }
    }
</div>
}
<script>
    $(document).ready(function () {
        var divdata = $("#dynamicPDPSchema").html();
        var reviewdata = $("#hiddenProductReviewMetaTag").html();
        reviewdata = reviewdata.slice(0, -1);
        reviewdata = '"Review": [' + reviewdata + "]}";
        var data = $("#PDPSchema").html() + "," + reviewdata + "}";
        divdata = '{' + divdata + data;
        $("#dynamicPDPSchema").html(divdata);
        $("#PDPSchema").html('');
        $("#hiddenProductReviewMetaTag").html('');
    });
</script>
<script id="dynamicPDPSchema" type="application/ld+json"></script>