﻿@using Znode.WebStore.Custom.ViewModel

@model ScheduleATruckViewModel
@{
    ViewBag.Title = "Schedule A Truck";
}
<div id="layout-Application" class="main-wrapper">

    <div class="container-fluid">
        <div class="contain-pages">
            <div class="col-xs-12">
                <!--Become A Contributer Form Code here-->
                <div class="col-xs-12 nopadding margin-bottom">
                    <div class="contain-pages">
                        <div>
                            <div class="col-xs-12 PageTitle setpadding">
                                <h1 class="page-title">SCHEDULE A TRUCK</h1>
                            </div>
                            @Html.RenderMessage("FooterScheduleATruck")
                        </div>
                        <div class="Form col-xs-12 col-md-12 col-lg-7 nopadding">
                            @using (Html.BeginForm("ScheduleATruck", "RS_CustomizedForms", FormMethod.Post, new { @id = "frmScheduleATruck" }))
                            {
                                <div class="col-xs-12 nopadding kmirrort">
                                    <div class="form-group">
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.CompanyName, new { @id = "idCompanyName", @maxlength = 100, @required = "required", @tabindex = "1" })
                                            <label alt="@WebStore_Resources.ColumnCompanyName" placeholder="@WebStore_Resources.ColumnCompanyName"></label>
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.CompanyName, "", new { @id = "idCompanyNameErr" })</p>
                                        </div>
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.DatesRequested, new { @id = "DatesRequested", @required = "required", @tabindex = "2" })
                                            <label for="profile_DatesRequested" alt="Dates Requested" placeholder="Dates Requested *"></label>
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.DatesRequested, "", new { @id = "valDatesRequestedErr" })</p>
                                        </div>
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.TmeRequested, new { @id = "TimeRequested", @required = "required", @tabindex = "3" })
                                            <label for="profile_TmeRequested" alt="TimeRequested" placeholder="Time Requested *"></label>
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.TmeRequested, "", new { @id = "valTimeRequestedErr" })</p>
                                        </div>
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.Address, new { @id = "valAddress", @required = "required", @tabindex = "4" })
                                            <label for="profile_Address" alt="@WebStore_Resources.ColumnAddress" placeholder="@WebStore_Resources.ColumnAddress"></label>
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.Address, "", new { @id = "valAddressErr" })</p>
                                        </div>
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20, @id = "valPhoneNum", @required = "required", @tabindex = "5" })
                                            <label alt="@WebStore_Resources.LabelPhoneNumber" placeholder="@WebStore_Resources.LabelPhoneNumber"></label>
                                            <span id="valPhoneNumErr" class="field-validation-error"></span>
                                        </div>
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName", @required = "required", @tabindex = "6" })
                                            <label alt="@WebStore_Resources.LabelFirstName" placeholder="@WebStore_Resources.LabelFirstName"></label>
                                            <span id="valFirstNameErr" class="field-validation-error"></span>
                                        </div>
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName", @required = "required", @tabindex = "7" })
                                            <label alt="@WebStore_Resources.LabelLastName" placeholder="@WebStore_Resources.LabelLastName"></label>
                                            <span id="valLastNameErr" class="field-validation-error"></span>
                                        </div>
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.NoOfEmployee, new { @id = "valNoOfEmployee",  @maxlength = 100, @readonly = "readonly", @required = "required", @tabindex = "8" })
                                            <label alt="NoOfEmployee" placeholder="NoOfEmployee"></label>
                                            <span id="valNoOfEmployee" class="field-validation-error"></span>
                                        </div>
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.MaleFemale, new { @id = "valMaleFemale", @required = "required", @tabindex = "9" })
                                            <label alt="Ratio Male / Female" placeholder="Ratio Male / Female *"></label>
                                            <span id="valMaleFemaleErr" class="field-validation-error"></span>
                                        </div>
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.Steeltorequired, new { @id = "valSteeltorequired,", @required = "required", @tabindex = "10" })
                                            <label alt="Steel to required" placeholder="Steel to required *"></label>
                                            <span id="valSteeltorequired,Err" class="field-validation-error"></span>
                                        </div>
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.EmailID, new { @maxlength = 200, @id = "valEmail", @required = "required", @tabindex = "11" })
                                            <label alt="@WebStore_Resources.LabelEmailAddress" placeholder="@WebStore_Resources.LabelEmailAddress"></label>
                                            <span id="valEmailErr" class="field-validation-error"></span>
                                        </div>
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.ContriAmount, new { @maxlength = 100, @id = "ValContriAmount", @readonly = "readonly", @required = "required", @tabindex = "12" })
                                            <label alt="Contribution Amount" placeholder="Contributions $$ Amount"></label>
                                            <span id="ValContriAmountErr" class="field-validation-error"></span>
                                            @Html.HiddenFor(m => m.ContriAmount)
                                        </div>
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.Payroll, new { @maxlength = 100, @id = "ValPayroll", @readonly = "readonly", @required = "required", @tabindex = "13" })
                                            <label alt="Payroll" placeholder="Payroll Deduction *"></label>
                                            <span id="ValPayrollErr" class="field-validation-error"></span>
                                            @Html.HiddenFor(m => m.Payroll)
                                        </div>
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.PosterNeeded, new { @maxlength = 100, @id = "ValPosterNeeded", @readonly = "readonly", @required = "required", @tabindex = "14" })
                                            <label alt="Poster Needed" placeholder="Poster Needed *"></label>
                                            <span id="ValPosterNeededErr" class="field-validation-error"></span>
                                            @Html.HiddenFor(m => m.PosterNeeded)
                                        </div>
                                        <div class="col-lg-12 nopadding">
                                            @Html.TextBoxFor(model => model.Description, new { @id = "valComment", @row = "2", @required = "required", @tabindex = "15" })
                                            <label alt="Note" placeholder="Note"></label>
                                            <span id="valCommentErr" class="field-validation-error"></span>
                                        </div>                                       
                                    </div>
                                </div>
                                <div class="col-lg-12 nopadding margin-top">
                                    <div class="g-recaptcha" data-sitekey="6LdPd1sUAAAAAJrdwaCOuSsrlddDjylvt6_iackT" tabindex="16"></div>
                                </div>
                                <div class="col-lg-12 nopadding margin-top">
                                    <a href="#" class="Button" tabindex="19" id="contact-us" alt="Submit" title="Submit">@WebStore_Resources.ButtonSubmit</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        $("#frmScheduleATruck").submit(function (event) {
            $("#Schedule-ATruck").prop("disabled", true).addClass("disabled");
    });
    </script>
