﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model  List<BundleProductViewModel>
@{
    Layout = null;
}
<div class="col-xs-12 nopadding product-bundles margin-top-bottom">
    <p class="sub">@WebStore_Resources.TextFreePurchase</p>
    <ul>
        @{
            foreach (var product in Model?.OrderBy(x => x.AssociatedProductDisplayOrder))
            {
                <li class="bundle-item">
                    <div class="col-xs-12 nopadding bundle-item-image margin-bottom"><img src="@product.ImageThumbNailPath" alt="@Attributes.Value(product.Attributes,ZnodeConstant.ImageAlternateText)" class="img-responsive bundle" data-bundlesku="@product.SKU" /></div>
                    <h5 class="col-xs-12 nopadding bundle-item-title text-center">@product.Name</h5>
                </li>
            }
        }
    </ul>
</div>
<script>
    jQuery('img').bind('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>
