﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel

@{   
    Model.Attributes = Model.Attributes.OrderBy(x => x.DisplayOrder).ToList();
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }

    var productsVariants = Model.Attributes.Where(x => x.IsConfigurable).ToList();
    string productType = Model.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool imageIsComparable = (Model.Attributes.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.ProductImage)?.IsComparable).GetValueOrDefault();
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    bool isPersonalisable = Model.Attributes.Where(x => x.IsPersonalizable == true).Select(x => x.IsPersonalizable).FirstOrDefault();
    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
}

<div class="col-xs-12 nopadding product-item">
    <a href="" class="remove-compare float-right" onclick="Category.prototype.RemoveProduct('@Model.PublishProductId')" title="@WebStore_Resources.LinkTextRemove" data-productid="@Model.PublishProductId"><i class="zf-close-circle"></i></a>

    @if (IsCallForPricing)
    {
        <div class="price margin-bottom error-msg text-center"><strong>@callForPricingMessage</strong></div>
    }
    else if (Equals(productType, ZnodeConstant.GroupedProduct) || Equals(productType, ZnodeConstant.ConfigurableProduct))
    {
        <button type="button" class="btn-text-full btn-color-primary pull-right margin-bottom" onclick="javascript: location.href = '@Url.GetProductUrl(Model.SEOUrl, Model.PublishProductId.ToString())'" id="Model.PublishProductId"><i class='zf-view-details'></i>@WebStore_Resources.ButtonViewDetails</button>
    }
    else if (isPersonalisable)
    {
        <button type="button" class="btn-text-full btn-color-primary pull-right margin-bottom" onclick="javascript: location.href = '@Url.GetProductUrl(Model.SEOUrl, Model.PublishProductId.ToString())'" id="Model.PublishProductId"><i class='zf-view-details'></i>@WebStore_Resources.ButtonViewDetails</button>
    }
    else if (!Model.ShowAddToCart)
    {
        <div class="status-outofstock margin-bottom error-msg text-center"><strong>@Model.InventoryMessage</strong></div>
    }
    else
    {
        @Html.AddToCartLink(@WebStore_Resources.ButtonAddToCart, "/Product/AddToCart", Model.CartParameter, "btn-text-full btn-color-primary pull-right margin-bottom", "Product.prototype.GetProductOutOfStockDetails(this, event)", disable)
    }

    @if (imageIsComparable)
    { <div class="col-xs-12 nopadding">
        <img src="@Model.ImageThumbNailPath" alt="@Attributes.Value(Model.Attributes, "ImageAltText")" class="img-responsive" />
    </div>
    }
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            @Html.Label(WebStore_Resources.LabelProductName)
        </div>
        <div class="col-xs-12 nopadding">
            @if (string.IsNullOrEmpty(Model.Name))
            {
                @Html.Label("-")
            }
            else
            {
                @WebUtility.HtmlDecode(Model.Name)
            }
        </div>
    </div>
    <div class="form-group">
        @if (!IsCallForPricing)
        {
            <div class="col-xs-12 nopadding">
                @Html.Label(WebStore_Resources.ColumnTitlePrice)
            </div>
            <div class="col-xs-12 nopadding">
                @if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                {
                    <p>@Model.GroupProductPriceMessage</p>
                }
                else
                {
                    if (!Equals(Model.SalesPrice, null))
                    {
                        <span>
                            @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CurrencyCode, UOM)
                        </span>
                        if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                        {
                            <span class="cut-price">
                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                            </span>
                        }
                    }
                    else
                    {
                        if (Model.PromotionalPrice > 0)
                        {
                            <label>
                                @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CurrencyCode, UOM)
                            </label>
                            <span class="cut-price">
                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                            </span>
                        }
                        else
                        {
                            <span>
                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                            </span>
                        }
                    }
                }
            </div>
        }
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            @Html.Label(WebStore_Resources.TextCustomerReviews)
        </div>
        <div class="col-xs-12 nopadding product-rating">
            @Html.Partial("_StarRating", Model.Rating)
            @ratingText<a href="@Url.GetProductUrl(Model.SEOUrl, Model.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile">@WebStore_Resources.LinkTextReadReviews</a>
        </div>
    </div>
    @if (Equals(productType, ZnodeConstant.ConfigurableProduct))
    {
        if (productsVariants?.Count > 0)
        {
            <div class="form-group">
                <div class="col-xs-12 nopadding">
                    @Html.Label(WebStore_Resources.LabelVariants)
                </div>
                <div class="col-xs-12 nopadding product-rating">
                    <ul class="product-variants">
                        @foreach (var item in productsVariants)
                        {
                            if (item?.ConfigurableAttribute?.Count > 0)
                            {
                                <li>
                                    <span><b>@item.AttributeName</b>:&nbsp;</span>
                                    <span>@string.Join(", ", item.ConfigurableAttribute.Select(x => x.AttributeValue))</span>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        }
    }
    @{
        Model.Attributes.RemoveAll(x => x.IsComparable == false || x.AttributeTypeName == ZnodeConstant.Link || x.AttributeCode == ZnodeConstant.ProductImage || string.IsNullOrEmpty(x.AttributeValues));
    }
    <div class="col-xs-12 nopadding">
        @foreach (var attribute in Model.Attributes)
        {
            if (!string.Equals(attribute.AttributeName, "Product Name", StringComparison.InvariantCultureIgnoreCase))
            {
                <div class="col-xs-12 nopadding">
                    @Html.Label(attribute.AttributeName)
                </div>
                if (attribute.AttributeTypeName == "Yes/No")
                {
                    if (attribute.AttributeValues == "true")
                    {
                        <div class="col-xs-12 nopadding margin-bottom-10">
                            <i class='zf-active'></i>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 nopadding margin-bottom-10">
                            <i class='zf-inactive'></i>
                        </div>
                    }
                }
                else
                {
                    <div class="col-xs-12 nopadding margin-bottom-10">
                        <p>@Html.Raw(attribute.AttributeValues)</p>
                    </div>
                }
            }
        }
    </div>
</div>
