﻿@using Znode.Engine.WebStore.ViewModels

@model ProductReviewViewModel
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div id="layout-writereview" class="main-wrapper">
    <div class="container">
        <div class="row write-review">
            <div class="col-xs-12 nopadding md-page-title-div">
                <h2 class="md-page-title">@WebStore_Resources.TitleProductReview</h2>
            </div>
            <div class="col-xs-12 col-sm-7 col-lg-6 nopadding">
                <form method="POST" action="/Product/WriteReview/@Model.PublishProductId" class="form">
                    @Html.AntiForgeryToken()
                     <div class="col-xs-12 nopadding">
                        <div class="form-group">
                            <div class="col-xs-12 nopadding"><label>@WebStore_Resources.ColumnReviewFor</label></div>
                            <div class="col-xs-12 nopadding">@Model.ProductName</div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 nopadding"><label class="required">@WebStore_Resources.ColumnRating</label></div>
                            <div class="col-xs-12 nopadding star-rating setrating">
                                <label for="set-rating1" class="zf-star-empty star1 @(Model.Rating >= 1 ? "full" : "empty")" data-stars="1"></label>
                                <label for="set-rating2" class="zf-star-empty star2 @(Model.Rating >= 2 ? "full" : "empty")" data-stars="2"></label>
                                <label for="set-rating3" class="zf-star-empty star3 @(Model.Rating >= 3 ? "full" : "empty")" data-stars="3"></label>
                                <label for="set-rating4" class="zf-star-empty star4 @(Model.Rating >= 4 ? "full" : "empty")" data-stars="4"></label>
                                <label for="set-rating5" class="zf-star-empty star5 @(Model.Rating >= 5 ? "full" : "empty")" data-stars="5"></label>
                                @Html.HiddenFor(model => model.Rating)
                            </div>
                            <p class="error-msg">@Html.ValidationMessageFor(m => m.Rating)</p>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                <label for="review_subject" class="required">@WebStore_Resources.ColumnReviewHeadline</label>
                            </div>
                            <div class="col-xs-12 nopadding">
                                @Html.TextBoxFor(m => m.Headline, new { @id = "review_subject", @class = "form-input-long" })
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.Headline)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                <label for="review_text" class="required">@WebStore_Resources.ColumnReview</label>
                            </div>
                            <div class="col-xs-12 nopadding">
                                @Html.TextAreaFor(m => m.Comments, new { @id = "review_text", rows = "8", cols = "45" })
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.Comments)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                <label for="review_name" class="required">@WebStore_Resources.ColumnReviewName</label>
                            </div>
                            <div class="col-xs-12 nopadding">
                                @Html.TextBoxFor(m => m.UserName, new { @id = "review_name" })
                                <p class="form-error">@Html.ValidationMessageFor(m => m.UserName)</p>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                <label for="review_location" class="required">@WebStore_Resources.ColumnReviewLocation</label>
                            </div>
                            <div class="col-xs-12 nopadding">
                                @Html.TextBoxFor(m => m.UserLocation, new { @id = "review_location" })
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.UserLocation)</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 nopadding">
                        <p class="sub">@WebStore_Resources.TextReviews</p>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="pull-right margin-top-bottom">
                            <button type="submit" class="btn-text btn-color-primary" >@WebStore_Resources.ButtonSubmitReview</button>
                            <a href="@Url.GetProductUrl(Model.SEOUrl, Convert.ToString(Model.PublishProductId))" class="btn-text btn-color-secondary">@WebStore_Resources.ButtonCancel</a>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.PublishProductId)
                    @Html.HiddenFor(m => m.ProductName)
                </form>
            </div>
        </div>
    </div>
</div>