﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();

    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }

    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";

    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string salesPrice = Equals(productType, ZnodeConstant.GroupedProduct) && (!Equals(Model.SalesPrice, null) || !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, string.Empty);
    string retailPrice = (Equals(productType, ZnodeConstant.GroupedProduct) && !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, string.Empty);
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    bool isShowPriceToLoggedInCustomersOnly = GlobalAttributeHelper.IsShowPriceToLoggedInUsersOnly();
}
<div class="item b2b-products">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img">
                <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
                    <div class="row no-gutters align-items-center">
                        <div class="image col-md-12 p-0 text-center">
                            @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                            {
                            <img src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-fluid new-product-tag hvr-pulse" />
                            }


                            @{
                            string imageSrc = string.IsNullOrEmpty(Model.ImageSmallPath) ? "/no-image.png" : Model.ImageSmallPath;
                            }
                            <img id="@Model.PublishProductId" src="@imageSrc" class="img-fluid" data-src="@imageSrc" alt="Product" />

                        </div>

                        <div class="title recommend-product-title col-md-12 px-md-0" data-test-selector="divProductTitle">
                            @WebUtility.HtmlDecode(Model.Name)
                        </div>
                    </div>
                </a>

            </div>
            <div class="product-details">
                <div class="product-sku" data-test-selector="divProductSku">
                    SKU: @Model.SKU
                </div>
                <div class="product-rating">
                    @Html.Partial("_StarRating", Model.Rating)
                    @ratingText <a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile" data-test-selector="linkReviewText">@WebStore_Resources.LinkTextReadReviews</a>
                </div>
                <div class="product_highlight">
                    @if (Model.HighlightLists.Any())
                    {
                    @Html.Partial("_PLPProductHighLights", Model.HighlightLists)
                    }
                </div>
                @*if store level flag - 'isShowPriceToLoggedInCustomersOnly' is set to yes and user is logged off then do not show price to users.*@
                @if (isShowPriceToLoggedInCustomersOnly && !Request.IsAuthenticated)
                {
                <div class="loged-out-product-details">
                    <div class="loged-out-product-title">@WebStore_Resources.TitleWhatsThePrice</div>
                    <div class="loged-out-product-text">
                        <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">@WebStore_Resources.LabelSignIn</a>
                        @WebStore_Resources.TextOR
                        <a href="/User/Signup/@(!string.IsNullOrEmpty(Request.QueryString[" returnUrl"]) ? "?returnUrl=" + Request.QueryString["returnUrl"] : "" )"> @WebStore_Resources.LabelRegister</a>
                        @WebStore_Resources.TextForPricing
                    </div>
                </div>
                }
                else
                {
                if (CallForPricing)
                {
                <div class="price"><label>@callForPricingMessage</label></div>
                }
                else
                {
                <div class="price" data-sku="@Model.SKU" data-type="@Model.ProductType">
                    @if (!Helper.IsAsyncPrice)
                    {
                    if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                    {
                    <label>@Model.GroupProductPriceMessage</label>
                    }
                    else
                    {
                    if (!Equals(Model.SalesPrice, null))
                    {
                    <span>
                        @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                    </span>

                    if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                    {
                    <span class="cut-price">
                        @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                    </span>
                    }
                    }
                    else
                    {
                    if (Model.PromotionalPrice > 0)
                    {

                    <label>@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)</label>
                    <span class="cut-price">
                        @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                    </span>

                    }
                    else
                    {
                    <span>
                        @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                    </span>
                    }

                    }
                    }
                    }
                    else
                    {
                    <label class="price-span" data-sku="@Model.SKU" data-type="@productType">Loading...</label>
                    }
                </div>
                }
                }
            </div>
        </div>
    </div>
</div>