﻿@model Znode.Engine.WebStore.ViewModels.ECertTotalBalanceViewModel
<a href="/User/eCertificateBalance"> @Html.RenderBlock(string.Format(WebStore_Resources.ECertTotalAvailableBalanceLabel, $"<span id='eCertTotalBalanceHeader'>{Helper.FormatPriceWithCurrency(Model.AvailableTotal, Model.CultureCode)}</span>"))</a>