﻿@model Znode.Engine.WebStore.ViewModels.WidgetSliderBannerViewModel
@using Znode.Engine.WebStore.Agents

<div class="banner-widget">

    <div id="advertisement-banner" class="owl-carousel AdvertisementBanner" data-autoplay=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Convert.ToString(Model.AutoPlay).ToLower())) data-autoplaytimeout="@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.AutoplayTimeOut))" data-autoplayhoverpause=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Convert.ToString(Model.AutoplayHoverPause).ToLower()))>
        @{
            int counter = 0;
            string mediaUri = PortalAgent.CurrentPortal.MediaServerUrl;
            if (!Equals(Model.SliderBanners, null))
            {
                foreach (var item in Model.SliderBanners)
                {
                    string mediaPath = $"{mediaUri}{item.MediaPath}";
                    string _active = counter == 0 ? "item active" : "item";
                    <div class="item @_active">
                        <a href="@item.ButtonLink" target="_blank">
                            <img src="@mediaPath" alt="@item.ImageAlternateText" class="img-responsive" />
                            <div class="carousel-caption @item.TextAlignment">
                                @Html.Raw(item.Description)
                            </div>
                        </a>
                    </div>
                    counter++;
                }
            }
        }
    </div>
</div>
