﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using System.Configuration
@model List<ProductViewModel>
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
	string BaseImagePath = ConfigurationManager.AppSettings["BaseImagePath"].ToString();
   string BaseImage = "";
}
<div id="compareProductBox" style="display:none" class="col-xs-12 nopadding compare-product-box">
    @if (!Equals(Model, null))
    {
        <div class="col-xs-12 nopadding">
            <h4>@WebStore_Resources.LabelCompareProduct</h4>
            @foreach (ProductViewModel product in Model)
            {
                string UOM = Attributes.ValueFromSelectValue(product?.Attributes, "UOM");
                string productType = product?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
                string salesPrice = Equals(productType, ZnodeConstant.GroupedProduct) && (!Equals(product.SalesPrice, null) || !Equals(product.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(product.SalesPrice, product.CultureCode)) : Helper.FormatPriceWithCurrency(product.SalesPrice, product.CultureCode);
				BaseImage = "";
				if (Convert.ToString(product.Attributes?.Value("BaseImage")) != null)
				 {
				  BaseImage = BaseImagePath + @"t_170/" + Convert.ToString(product.Attributes?.Value("BaseImage"));
				 }
                <div class="col-xs-12 compare-product">
                    <div class="compare-product-list">
                        <div class="col-xs-4 col-md-3 nopadding">
                            @{
								string imageSrc = BaseImage; //string.IsNullOrEmpty(product.ImageSmallPath) ? "/no-image.png" : product.ImageSmallPath;
							 }
                            <img src="@imageSrc" alt="product" class="img-responsive" />
                        </div>
                        <div class="col-xs-8 col-md-9">
                            <a href="JavaScript:void(0);" class="remove-compare" data-productid="@product.PublishProductId" title="Remove"><i class="zf-close-circle"></i></a>
                            <p>@Html.RenderBlock(product.Name)</p>
                            @if (!Convert.ToBoolean(product.Attributes?.Value(ZnodeConstant.CallForPricing)))
                            {
                                if (!string.IsNullOrEmpty(product.GroupProductPriceMessage))
                                {
                                    <p>@product.GroupProductPriceMessage</p>
                                }
                                else
                                {
                                    if (!Equals(product.SalesPrice, null))
                                    {
                                        <span>
                                            @Helper.FormatPriceWithCurrency(product.SalesPrice, product.CultureCode, UOM)
                                        </span>
                                    }
                                    else
                                    {
                                        if (product.PromotionalPrice > 0)
                                        {
                                            <label>
                                                @Helper.FormatPriceWithCurrency(product.PromotionalPrice, product.CultureCode, UOM)
                                            </label>
                                            
                                        }
                                        else
                                        {
                                            <span>
                                                @Helper.FormatPriceWithCurrency(product.RetailPrice, product.CultureCode, UOM)
                                            </span>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                                }
        </div>
                                }

    @if (Model?.Count > 1)
    {
        <div class="col-xs-12 compare-list-btn">
            @Html.ActionLink(WebStore_Resources.LabelCompareLink, "ViewComparison", controllerName, new { @class = "btn-text-full btn-bg-primary margin-top-bottom" })
        </div>
    }
</div>
