﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model  ConfigurableAttributeViewModel
@{
    Layout = null;
    var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
    var fitGuideLink = Model?.Custom1;
    if (fitGuideLink != null)
    {
        fitGuideLink = "../" + fitGuideLink;
    }
    bool havewidth = false;
    bool havesize = false;
    foreach (var att in attributes)
    {
        if (att.AttributeCode == "Color")
        {
            att.DisplayOrder = 10;
            att.IsSwatch = "true";
        }
        if (att.AttributeCode == "Size")
        {

            att.DisplayOrder = 20;
            havesize = true;
        }
        if (att.AttributeCode == "ShoeWidth")
        {

            att.DisplayOrder = 30;
            havewidth = true;
        }

    }
    attributes = attributes.OrderBy(x => x.DisplayOrder).ToList();

    HttpCookie cookie = Request.Cookies["defaultstore"];

    if ((cookie != null) && (cookie.Value != ""))
    {
        Response.Write(cookie.Values["dep_name"].ToString() + "---" +
        cookie.Values["cat_name"].ToString() + "---" + cookie.Values["brand"].ToString());
    }
    else
    {

    }
    string _attrvaluelist = "";
}

<div id="loaderId"> </div>

@if (attributes?.Count > 0)
{
    foreach (var att in attributes)
    {
        if (att.AttributeCode == "ShoeWidth")
        {

            foreach (var text in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
            {
                _attrvaluelist = _attrvaluelist + "," + text.AttributeValue;
            }
        }

        switch (att.AttributeCode)
        {
            case "Color":
                <div class="col-xs-12 nopadding">
                    <div class="form-group text-center-mobile">
                        <div class="col-xs-12 nopadding">
                            <label>@att.AttributeName : <span id="colorname" class="text-black">@att.SelectedAttributeValue[0]</span></label>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ol class="swatch-img size-swatch">
                                @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                {
                                    var imagepath = Model.SwatchImages.Where(x => x.AttributeCode == "Color" && x.AttributeValues == image.AttributeValue).Select(x => x.ImagePath).FirstOrDefault();
                                    var galleryImages = Model.SwatchImages?.Where(x => x.AttributeCode == "Color" && x.AttributeValues == image.AttributeValue).Select(x => x.Custom3).FirstOrDefault();
                                    var baseimage = Model.SwatchImages?.Where(x => x.AttributeCode == "Color" && x.AttributeValues == image.AttributeValue).Select(x => x.Custom2).FirstOrDefault();
                                    string sizeList = Model.SwatchImages?.Where(x => x.AttributeCode == "ColorSize" && Convert.ToString(x.Custom1) == image.AttributeValue)?.Select(x => x.AttributeValues).FirstOrDefault();
                                    <li class="styled-input scratch-attribute-img ">
                                        <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="Product.prototype.OnColorChangeDDL(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" data-gallery="@galleryImages" data-sizes="@sizeList" data-image="@baseimage" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-image @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")">
                                            @if (att.SelectedAttributeValue[0] == image.AttributeValue)
                                            {
                                                // SwatchImageViewModel svm = Model.SwatchImages?.FirstOrDefault(x => x.ImagePath == imagepath);
                                                SwatchImageViewModel colorsize = Model.SwatchImages?.FirstOrDefault(x => x.AttributeCode == "ColorSize" && Convert.ToString(x.Custom1) == image.AttributeValue);
                                                colorsize.IsSelected = true;
                                            }
                                            <img src="~/Views/Themes/RogansShoes/Images/loading.gif" data-src="@imagepath" class="SwatchImage img-responsive b-lazy" title="@image.AttributeValue" alt="@image.AttributeValue" />
                                        </label>
                                    </li>
                                }
                            </ol>
                        </div>
                    </div>
                </div>
                break;
            case "ShoeWidth":
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @if (fitGuideLink != null)
                            {
                                <label>@att.AttributeName :</label><span class="pull-right"><a class="szchartClass" href="#" onclick="InStorePickUp.prototype.FitGuide('@fitGuideLink');" title="@WebStore_Resources.TitleFitGuide">(@WebStore_Resources.TitleFitGuide)</a></span>
                            }
                            else
                            {
                                <label>@att.AttributeName :</label>
                            }
                        </div>
                        <div class="col-xs-12 nopadding">
                            <div id="WidthError" class="error-msg pdp-error-msg" style="display:none">@WebStore_Resources.TitleSelectWidth</div>
                        </div>
                        <div class="col-xs-12 nopadding">
                            @{List<string> _widthattrvaluelist = new List<string>();
                                _widthattrvaluelist.Add("Select");
                                SelectList widthlist = new SelectList(_widthattrvaluelist); }
                            @Html.DropDownList("ShoeWidth", new SelectList(widthlist, "text", "text", "Select"), new { @class = "ConfigurableAttribute AttributeDropDown SelectBoxSize", code = att.AttributeCode, type = "Dropdown" })  @*onchange= "Product.prototype.OnSizeChange(this,"+ Model.ColorSizeWidthList+")",@onchange = "Product.prototype.OnAttributeSelect(this);",*@
                        </div>
                    </div>
                </div>
                break;
            case "Size":
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @if (havewidth == false && fitGuideLink != null)
                            {
                                <label>@att.AttributeName :</label><span class="pull-right"><a class="szchartClass" href="#" onclick="InStorePickUp.prototype.FitGuide('@fitGuideLink');" title="@WebStore_Resources.TitleFitGuide">(@WebStore_Resources.TitleFitGuide)</a></span>
                            }
                            else
                            {
                                <label>@att.AttributeName :</label>
                            }
                        </div>
                        <div class="col-xs-12 nopadding">
                            <div id="SizeError" class="error-msg pdp-error-msg" style="display:none">@WebStore_Resources.TitleSelectSize</div>
                        </div>
                        <div class="col-xs-12 nopadding">
                            @{
                                string colorSizeList = Model.SwatchImages?.Where(x => x.AttributeCode == "ColorSize" && x.IsSelected == true)?.Select(x => x.AttributeValues).FirstOrDefault();
                                string color = Convert.ToString(Model.SwatchImages?.Where(x => x.AttributeCode == "ColorSize" && x.IsSelected == true)?.Select(x => x.Custom1).FirstOrDefault()) + "-,";
                                colorSizeList = colorSizeList.Replace(color, "Select,");
                                string[] sizes = colorSizeList.Split(',');
                                var selectListItems = sizes.Where(x=>x!="").ToList().Select(x => new SelectListItem()
                                {
                                    Text = x,
                                    Value = x,
                                });

                            }

                            @*@Html.DropDownList("Size", new SelectList(valuelist1, "text", "text", "Select"), new { @class = "ConfigurableAttribute AttributeDropDown SelectBoxSize", code = att.AttributeCode, type = "Dropdown" })  @*onchange= "Product.prototype.OnSizeChange(this,"+ Model.ColorSizeWidthList+")",@onchange = "Product.prototype.OnAttributeSelect(this);"*@
                            @Html.DropDownList("Size", new SelectList(selectListItems, "Value", "Text", "Select"), new { @class = "ConfigurableAttribute AttributeDropDown SelectBoxSize", code = att.AttributeCode, type = "Dropdown", @onchange = "Product.prototype.OnSizeChangeDDL(this);" })
                        </div>
                    </div>
                </div>
                break;
        }
    }

}
@Html.Hidden("LayoutType", "DDL")
<label id="CombinationErrorMessage" class="error-msg"><span class="hidden">Error Msg</span></label>
@Html.Hidden("HaveWidth", @havewidth)
@Html.Hidden("HaveSize", @havesize)
@Html.Hidden("ColorSizeWidthList", Json.Encode(Model.Custom4))
@Html.Hidden("ShoeWidthValues", Json.Encode(_attrvaluelist))
@if (!string.IsNullOrEmpty(Model.CombinationErrorMessage))
{
    <div class="col-xs-12 nopadding">
        <span class="error-msg">
            @*@Model.CombinationErrorMessage*@
        </span>
    </div>
}

<script>
    $(document).ready(function () {

        try {
            var selectedtext = $('#Size :selected').text();
            if (selectedtext == "Select") {

            }
        }
        catch (err) {

        }

    });
</script>

