﻿@model Znode.Engine.WebStore.ViewModels.ShortProductViewModel
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.WebStore.ViewModels
@{ 
	Layout = null;
}

@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = IsCallForPricing || !Model.InventoryDetails.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string inventoryMessageClass = Model.InventoryDetails.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    int productId = Model.MiscellaneousDetails.ConfigurableProductId > 0 ? Model.MiscellaneousDetails.ConfigurableProductId : Model.PublishProductId;
}

<div class="col-lg-12 nopadding-mobile margin-top hidden-xs">
    <h1 data-test-selector="hdgProductName" class="ProductTitle product-name">@Html.RenderBlock(Model.Name)</h1>
</div>

@if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
{
    <div class="ProductPageNewItem"><span class="rs-new">New</span></div>
}
<!--Nivi Code Mobile View Header Price-->
<div class="col-xs-12 nopadding margin-top-bottom-mobile hidden-lg hidden-md visible-xs">
    
    @if (!IsCallForPricing && !isGroupProduct)
            {
        <div class="PriceContent pull-left" id="product_Detail_Price_Div">
            @if (!Equals(Model.Pricing.SalesPrice, null))
            {
                <span class="SalePrice">@Helper.FormatPriceWithCurrency(Model.Pricing.SalesPrice, Model.Pricing.CultureCode, UOM)</span>
                if (Model.Pricing.SalesPrice != @Model.Pricing.RetailPrice)
                {
                    <span class="cut-price">
                        @Helper.FormatPriceWithCurrency(Model.Pricing.RetailPrice, Model.Pricing.CultureCode, UOM)
                    </span>
                }
            }
            else
            {
                if (HelperUtility.IsNotNull(Model.Pricing.PromotionalPrice))
                {
                    <span data-test-selector="lblPriceCut" class="Price">@Helper.FormatPriceWithCurrency(Model.Pricing.PromotionalPrice, Model.Pricing.CultureCode, UOM)</span>
                            <span data-test-selector="spanCutPrice" class="cut-price">
                                @Helper.FormatPriceWithCurrency(Model.Pricing.RetailPrice, Model.Pricing.CultureCode, UOM)
                            </span>
                }
                else
                {
                    <span data-test-selector="lblPrice" class="SalePrice">@Helper.FormatPriceWithCurrency(Model.Pricing.ProductPrice, Model.Pricing.CultureCode, UOM)</span>
                }
            }
        </div>
    }
    @if (IsCallForPricing)
            {
        <div class="PriceContent pull-left"><span class="error-msg SalePrice">@callForPricingMessage</span></div>
    }

   
</div>
 <!--End Nivi Code Mobile View Header Price-->
<div class="col-xs-12 nopadding-mobile">
    <div class="product-number-details">
        <div class="product-rating">
            @Html.Partial("_StarRating", Model.CustomerReviews.Rating)
            @{
                int totalreviews = 0;
                totalreviews = (Model?.CustomerReviews.ProductReviews?.Count).GetValueOrDefault();
                string ratingText = Model.CustomerReviews.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.CustomerReviews.Rating, 1), totalreviews) : string.Empty;
            }
            <span class="hidden-xs">@ratingText</span><a href="/Product/writereview?id=@productId&name=@Model.Name&path=@Model.ProductImage.ImageSmallPath" title="@WebStore_Resources.LinkTextReadReviews">@WebStore_Resources.LinkTextReadReviews</a>
        </div>

        <div class="row">
            <div class="col-lg-12 col-xs-12 col-md-12 nopadding margin-bottom">
                <!--Nivi Code Desktop View Price-->
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 hidden-xs">
                    @if (!IsCallForPricing && !isGroupProduct)
                    {
                        <div class="PriceContent">
                           <span class="SalePrice">@Helper.FormatPriceWithCurrency(Model.Pricing.SalesPrice, Model.Pricing.CultureCode, UOM)</span>
                        </div>
                    }
                    @if (IsCallForPricing)
                    {
                        <div class="PriceContent"><span class="error-msg SalePrice">@callForPricingMessage</span></div>
                    }
                </div>
                <!--Nivi Code Desktop View Price-->
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12 text-right">
                    <div class="ProductNumbStock">
                        @Html.Hidden("sku", Model.SKU)
                        @if (!string.IsNullOrEmpty(Model.SKU))
                        {
                            <span>@WebStore_Resources.LabelProductItem: #</span>
                            string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                            string instockmessage = !string.IsNullOrEmpty(Model.StoreSettings.InStockMessage) ? Model.StoreSettings.InStockMessage : "In Stock";
                            string outstockmessage = !string.IsNullOrEmpty(Model.StoreSettings.OutOfStockMessage) ? Model.StoreSettings.OutOfStockMessage : "Out of Stock";
                            @*@Html.RenderBlock(sku)*@
                            @Html.RenderBlock(Model.SKU)
                            @*if (Model.Quantity > 0)
                    {

                        <span id="dynamic-inventory" class="ProductStock">&nbsp;&nbsp; @instockmessage</span>
                    }
                    else
                    {

                        <span id="dynamic-inventory" class="ProductOutStock">&nbsp;&nbsp; @outstockmessage</span>
                    }*@
                        }
                    </div>

                </div>

            </div>
        </div>

        
        
    </div>
</div>

@*<div class="col-xs-12 nopadding product-short-description" data-test-selector="divShortDescription">@Html.RenderBlock(Model.Attributes.Value("ShortDescription"))</div>
<div class="col-xs-12 nopadding product-description" data-test-selector="divLongDescription">@Html.RenderBlock(Model.Attributes.Value("LongDescription"))</div>*@

<div class="col-xs-12 highlight-container nopadding">
    <div data-test-selector="divHighlight" class="col-xs-12 product-highlight nopadding">
        @{
            if (Model.PublishProductId > 0)
            {
                List<string> codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.Highlights)?.SelectValues?.Select(y => y.Code)?.ToList();
                if (codesList?.Count > 0)
                {
                    string highLightsCodes = string.Join(",", codesList);
                    int publishProductId = Model.MiscellaneousDetails.ConfigurableProductId > 0 ? Model.MiscellaneousDetails.ConfigurableProductId : Model.PublishProductId;
                    Html.RenderAction("GetProductHighlights", "Product", new { productId = publishProductId, highLightsCodes = highLightsCodes });
                }
            }
        }
    </div>
</div>
