﻿@model Znode.Engine.WebStore.ViewModels.ProductCompareViewModel

@{
    Layout = null;
    bool? compare = ViewBag.IsCompare;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="compare-product-popup">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@WebStore_Resources.ButtonCancel"><sapn class="hidden">@WebStore_Resources.ButtonCancel</sapn><i class="zf-close-circle"></i></button>
                <h4 data-test-selector="hdgPopUPEmail" class="modal-title">@WebStore_Resources.HeaderProductCompare</h4>
            </div>
            @using (Ajax.BeginForm(actionName, controllerName, new AjaxOptions()
            {
                OnBegin = "Product.prototype.OnClickSendMail",
                HttpMethod = "post",
                OnSuccess = "Product.prototype.SendMailResult",
            }, new { @id = "editAssociatedPriceListPrecedenceForm" }))
            {
                @Html.AntiForgeryToken();
                <div id="customFieldModel">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 LableForm">
                                <div class="form-group">
                                    <div class="col-lg-12 col-xs-12 nopadding">
                                        @Html.TextBoxFor(model => model.SenderEmailAddress, new { @id = "txtSenderEmail", @required = "required" })
                                        <label for="txtSenderEmail" placeholder="@WebStore_Resources.LabelSenderMailId"><span>@WebStore_Resources.LabelSenderMailId</span></label>
                                        @Html.ValidationMessageFor(model => model.SenderEmailAddress, null, new { @id = "valSenderEmail" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12 col-xs-12 nopadding">
                                        @Html.TextBoxFor(model => model.RecieverEmailAddress, new { @id = "txtReceiverEmail", @required = "required" })
                                        <label for="txtReceiverEmail" placeholder="@WebStore_Resources.LabelRecieverMailId"><span>@WebStore_Resources.LabelRecieverMailId</span></label>
                                        @Html.ValidationMessageFor(model => model.RecieverEmailAddress, null, new { @id = "valReceiverEmail" })
                                    </div>
                                </div>
                                @Html.Hidden("dynamic-iscompare", compare)
                                @Html.HiddenFor(model => model.ProductId)
                                @Html.HiddenFor(model => model.ProductName)
                            </div>
                        </div>
                       
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12 nopadding">
                            <div class="pull-right">
                                <button id="btnSendMail" class="btn btn-primary pull-right" type="submit">@WebStore_Resources.LabelSendMail</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>


