﻿@using Znode.Engine.WebStore.ViewModels
@model ChangePasswordViewModel
@{

}
<div id="layout-account-editprofile" class="main-wrapper">
    <div class="container">
        <div class="user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="PageTitle" data-test-selector="hdgTitleChangePassword">@WebStore_Resources.TitleChangePassword</h1>
            </div>

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding leftmenu">                    
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 edit-profile right-container">
                    <div class="col-xs-12 nopadding">
                        <p>@WebStore_Resources.SubTextChangePassword</p>
                    </div>
                    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="loginForm" class="col-xs-12 col-sm-8 col-lg-6 nopadding LableForm">
                            @Html.ValidationSummary(true, "")
                            <div class="form-group">
                                <div class="col-lg-12">
                                    @Html.PasswordFor(m => m.OldPassword, new { @id = "Oldpwd", @required = "required" })
                                    <label for="Oldpwd" placeholder="@WebStore_Resources.LabelCurrentPassword"><span>@WebStore_Resources.LabelCurrentPassword</span></label>
                                    @Html.ValidationMessageFor(m => m.OldPassword, "")
                                </div>

                                <div class="col-lg-12">
                                    @Html.PasswordFor(m => m.NewPassword, new { @id = "newpwd", @required = "required", })
                                    <label for="newpwd" placeholder="@WebStore_Resources.LabelNewPassword"><span>@WebStore_Resources.LabelNewPassword</span></label>
                                    <p class="sub">@WebStore_Resources.ValidPassword</p>
                                    @Html.ValidationMessageFor(m => m.NewPassword, "")
                                </div>

                                <div class="col-lg-12">
                                    @Html.PasswordFor(m => m.ReTypeNewPassword, new { @id = "conpwd", @required = "required", })
                                    <label for="conpwd" placeholder="@WebStore_Resources.LabelReTypeNewPassword"><span>@WebStore_Resources.LabelReTypeNewPassword</span></label>
                                    @Html.ValidationMessageFor(m => m.ReTypeNewPassword, "")
                                </div>

                            </div>
                            
                            @Html.HiddenFor(x => x.UserName)
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn-bg-primary" data-test-selector="btnReset">@WebStore_Resources.ResetPasswordButtonText</button>
                                    @*<button type="button" class="btn-text btn-bg-secondary" onclick="javascript: location.href = '/User/Dashboard';">@WebStore_Resources.ButtonCancel</button>*@
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


