﻿@import "../_base.scss";

.compare-print{border-top:4px solid $base-color-primary;padding:6px 0;margin-bottom:10px;
    a{padding-left:10px;}
}
.margin-bottom-10{margin-bottom:10px;}
.compare-product-box{
    h4{font-size:$base-font-size - 1;padding:10px 0;background-color:$base-color-white;border-bottom:1px solid $border-bgcolor-default;font-family:$base-font-family-bold;text-transform:uppercase;margin:0 0 10px 0;color:$text-fgcolor-heading;}
    .compare-product{padding:0;}
}

.compare-product-list{border:1px solid $border-bgcolor-default; font-size:11px;float:left; margin-bottom:10px;width:100%;
    img{padding:5px;}
    .remove-compare{position:absolute;top:-5px;right:-5px;color:$base-color-primary;opacity:1;font-size:$base-font-size + 2;text-decoration:none;}
    p{margin:5px 0;}
}
.product-compare-list{padding-left:8px;padding-right:8px;
        .product-item{border:1px solid $border-bgcolor-default;padding:10px 5px;
            label{color:$base-color-primary;}
            p{line-height:1.35;}
            img{margin:0 auto;}
            .remove-compare{position:absolute;top:-10px;right:-10px;color:$base-color-primary;opacity:1;font-size:$base-font-size + 5;}
            div:last-child{margin-bottom:0;}
        }
        .zf-inactive, .zf-close{color:$error-msg-fgcolor;}
        .zf-active, .zf-ok{color:$success-msg-fgcolor;}
        .zf-file-text{font-size:32px;}
        .product-variants{padding:0;margin:0;border:1px solid $border-bgcolor-default;
            li{list-style:none;padding:3px 5px;border-bottom:1px solid $border-bgcolor-default;}
            li:nth-last-child(1){border-bottom:0;}
        }
        .btn-text{font-weight:normal;}
} 
// Media Query.
@include screensize(x-small) { 
    .compare-all{padding:0 5px;}
    .product-compare-list{
        &:nth-child(3){clear:both;}
    }
}
@include screensize(small) { 
    .compare-all{padding:0;}
}
@include screensize(medium) {
    .product-compare-list{
        &:nth-child(3){clear:none;}
    }
}
@media print{
.product-compare-list .product-item .remove-compare, .btn-text-full, .header .header-link-contain, .header .header-local-container, .compare-print, .header .header-nav-container .navbar-toggle, bl {display:none !important;}
.product-compare-list .product-item {padding:10px; margin:0 0 20px;}
html, body {font-size:20px;}
.product-compare-list {float:none;width:100%;display:block;padding:0;}
header, .header .header-logo {display:none!important;}
.header {height:100px !important; margin:0 0 15px;}
}