﻿@import "../_base.scss";

body.modal-open{overflow:visible;}
#quick-view-popup-ipad{background-color:rgba(255, 255, 255, 0.53);}
.popup-container{min-width:310px;min-height:400px;padding:25px;background-color:$base-color-white;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%) !important;-webkit-transform:translate(-50%, -50%) !important;-moz-transform:translate(-50%, -50%) !important;-webkit-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);
        .close{position:absolute;top:-25px;right:0;opacity:1;width:25px;height:25px;line-height:1px;color:$base-color-primary;text-shadow:none;
               i{font-size:$base-font-size - 1;color:$base-color-primary;}
        }
}

.quick-view-popup{
    .product-view-details{padding-bottom:30px;float:left;width:100%;overflow:auto;max-height:70vh;  
        .product-images{padding:20px;}
        .product-overview{padding:0 15px;margin-top:15px;
            .product-rating{
                .hide-in-quick-view{display:none;}
                .show-in-quick-view{display:inline-block!important;}
            }
            .product-info{
                .email-a-friend{display:none;}
                .md-share-btns{display:none;}
            }
        }
        .image-view{min-height:250px;
            img{max-height:370px;margin:0 auto;}
        }
    }
    .quick-product-img{margin:0 auto;text-align:center;padding:15px 0;max-width:170px;}
    .product-overview h1 {font-family:$base-font-family-bold;}
    .product-overview h1,.product-overview h2{margin:0 0 5px 0 !important;}
    h1,h2,h3{font-size:20px !important;}
    .btn-card{width:100%;}
    .btn-print{display:none;}
    .highlight-container,.social-share{display:none;}
    
}

//Media Query.
@include screensize(x-small) {
    .quick-view-popup{
        .product-wishlist{display:none;}
    }
}
@include screensize(xl-small) {
    .quick-view-popup{
        .product-wishlist{float:none!important;display:block;}
    }
}
@include screensize(small) {
    .quick-view-popup{
        .modal-dialog{width:600px !important;position:absolute;}
        .product-wishlist{float:left!important;display:block;}
    }
}
@include screensize(medium) {
    .quick-view-popup{
        .modal-dialog{width:900px !important;}
    }    
}
@include screensize(desktop) {
    .quick-view-popup .modal-dialog{width:1024px !important;}
}