﻿@using Znode.Engine.WebStore.ViewModels
@model RegisterViewModel

@{
    bool isAjax = Request.IsAjaxRequest();
}
<div class="container">
    <div class="row main-wrapper">
        <div class="col-xs-12 nopadding login-container">
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 nopadding md-page-title-div">
                    <h2 class="md-page-title">Create an Account</h2>
                </div>
                <div class="col-xs-12 nopadding inner-container">
                    <div class="col-xs-12 col-sm-6 nopadding account-signup-container">
                        <div class="col-xs-12 nopadding">
                            @if (isAjax)
                            {
                                <div id="ajaxRegisterForm">
                                    @using (Ajax.BeginForm("signup", "User", new AjaxOptions() { OnSuccess = "Checkout.prototype.SetUserCreationStatusMessage" }, new { id = "frmRegister" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Partial("_Register", Model)
                                        @Html.Hidden("isSinglePageCheckout", true)
                                        <button type="button" class="btn-text btn-color-secondary btn-margin-left" data-dismiss="modal">@Admin_Resources.ButtonCancel</button>
                                        <button type="submit" class="btn-text btn-color-primary pull-right" id="user-register">@WebStore_Resources.ButtonCreateAccount</button>
                                    }
                                </div>
                            }
                            else
                            {
                                using (Html.BeginForm("signup", "User", FormMethod.Post, new { role = "form", @id = "frmRegister" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Partial("_Register", Model)
                                    <button type="button" class="btn-text btn-color-secondary btn-margin-left" onclick="javascript: location.href = '/User/Login';">@WebStore_Resources.ButtonCancel</button>
                                    <button type="submit" class="btn-text btn-color-primary pull-right" id="user-register">@WebStore_Resources.ButtonCreateAccount</button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#frmRegister").submit(function () {
        $("#user-register").prop("disabled", true).addClass("disabled");
        $(this).closest("form").submit();
    });
</script>
