﻿<div class="newsletter-widget">
    <div class="col-xs-12 nopadding input-field">
        <div class="newsletter-text">@Html.RenderMessage("NewsletterText")</div>
        @using (Ajax.BeginForm("SignUpForNewsLetter", "Home", null, new { @id = "searchform" }))
        {
            <div class="input-group" id="newsletter">
                @Html.TextBox("txtNewsLetterSignUp", "", new { placeholder = WebStore_Resources.LabelSenderMailId })
                <span class="input-group-btn">
                    <button class="btn btn-default" id="btnNewsLetterSignUp" type="button" onclick="Home.prototype.ValidationForEmailID();">@WebStore_Resources.LabelSignUpNewsletter</button>
                </span>
            </div>
        }
        <p id="newslettererrormessage" style="display:none"></p>
    </div>
</div>
