﻿@using Znode.Engine.WebStore.ViewModels
@using System.Configuration
@model CategoryHeaderListViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
   
}
<ul class="nav navbar-nav" style="height:20px;">
    <li class="nav-home" ><a href="/" title="Home" data-test-selector="linkZfHome"><i class="zf-home"></i></a></li>
    @{
        foreach (var category in Model.Categories)
        {            
            <li class="dropdown  yamm-fw" >
                <a href="@domainurl@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" data-test-selector="linkCategoryItem"><i class="zf-caret-right"></i> @Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))</a>
                @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
                {
                    <ul class="dropdown-menu list-unstyled fadeInUp animated">

                        @foreach (var subCategory in category.SubCategoryItems)
                        {
                            <li >
                                <a href="@domainurl@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" data-test-selector="linkSubCategoryItemList"><i class="zf-arrow-right-small"></i>@WebUtility.HtmlDecode(subCategory.CategoryName)</a>
                                @if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
                                {
                                    <ul  class="sub-menu-child">
                                        @Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)
                                    </ul>
                                }
                            </li>
                        }

                    </ul>
                }
            </li>
        }

        if (Model?.BrandList?.Count > 0)
        {
            <li class="dropdown  yamm-fw">
                <a href="/Brand/List" data-test-selector="linkBrand"><i class="zf-caret-right"></i> @WebUtility.HtmlDecode(WebStore_Resources.LabelBrands)</a>

                <ul class="dropdown-menu list-unstyled fadeInUp animated">
                    @foreach (var brand in Model.BrandList)
                    {
                        <li>
                            <a href="@domainurl@Url.GetBrandUrl(brand.SEOFriendlyPageName, null,brand.BrandId)" data-test-selector="linkBrandItems"><i class="zf-arrow-right-small"></i>@WebUtility.HtmlDecode(brand.BrandName)</a>
                        </li>
                    }
                    <li class="view-all">
                        <a href="/Brand/List" data-test-selector="linkBrandViewAll"><i class="zf-arrow-right-small" ></i>@WebStore_Resources.LabelViewAllBrands</a>
                    </li>
                </ul>

            </li>
        }
    }
</ul>
<script>$('[itemtype = "https://schema.org/SiteNavigationElement"] a').attr("itemprop", "url");</script>